<div class="hh-card-slider">

  <app-save-shadow [show]="showSaveShadow"></app-save-shadow>

  <div [id]="card.id"
       class="hh-card-slider__card"
       [ngClass]="{ 'hh-card-slider__card--active': card.isActive }"
       [style.transform]="transform"
       [@swipeLeftRight]="animation"
       (panmove)="onPanMove($event)"
       (panend)="onPanEnd($event)"
       (click)="cardIsSelected()"
       [ngStyle]="card.isActive && {'background-color': colors.getFhiColorHexFromText(card.role.name)}">

    <div class="d-flex flex-row">
      <div class="d-flex flex-column justify-content-start">
        <app-role-selection-dropdown *ngIf="roleSelected" [rolleId]="card.role.id" [roleSelectedI]="roleSelected" (roleSelectedEvent)="selectRole($event)"></app-role-selection-dropdown>

        <app-indikasjonsvalg (indikasjonsValgChangedEvent)="indikasjonsValgChanged($event)"
                             [erAktiv]="card.isActive"
                             [parentId]="card.id">
        </app-indikasjonsvalg>

        <div class="row mt-n3" *ngIf="activity?.timeSpent > 0">
          <div class="col-12 text-center mb-2 mt-4">
            <button class="btn hh-transparent-button hh-transparent-button--small" (click)="fjernTidsregistrering()">
              <span class="d-flex align-items-center"><fa-icon [icon]="faTrashAlt"></fa-icon>  Fjern tidsregistrering</span>
            </button>
          </div>
        </div>
        <div class=" d-flex flex-row mt-2 justify-content-around">
          <app-register-comment [commentInput]="comment"
                                   (commentRegisteredEvent)="registerComment($event)">
          </app-register-comment>
          <button type="button" class="hh-transparent-button hh-transparent-button hh-transparent-button--small p-0" (click)="resetCard()">
            <span class="d-flex align-items-center"><fa-icon class="mr-1" [icon]="faEraser"></fa-icon>Empty card</span>
          </button>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-around">
          <div class="hh-vertical-stadium-buttons">
            <div class="hh-vertical-stadium-buttons__button">
              <app-register-activity [disabled]="skalAktivitetDeaktiveres(ActivityTypeConstants.Desinfeksjon)"
                                       [isRegistered]="isRegistered(ActivityTypeConstants.Desinfeksjon)"
                                       [parentId]="card.id"
                                       [seconds]="activity?.timeSpent"
                                       [timekeeping]="sessionView.timeShouldBeRegistred"
                                       [activityType]="getAktivitetType(ActivityTypeConstants.Desinfeksjon)"
                                       [confirmationModalToShow]="sessionView.gloveUseMustBeRegistered"
                                       [icon]="faHandHoldingWater"
                                       (activityRegisteredEvent)="registerActivity($event)">
              </app-register-activity>
            </div>
            <div class="hh-vertical-stadium-buttons__button">
              <app-register-activity [disabled]="skalAktivitetDeaktiveres(ActivityTypeConstants.Handvask)"
                                       [isRegistered]="isRegistered(ActivityTypeConstants.Handvask)"
                                       [parentId]="card.id"
                                       [seconds]="activity?.timeSpent"
                                       [timekeeping]="sessionView.timeShouldBeRegistred"
                                       [activityType]="getAktivitetType(ActivityTypeConstants.Handvask)"
                                       [confirmationModalToShow]="sessionView.gloveUseMustBeRegistered"
                                       [icon]="faHandsWash"
                                       (activityRegisteredEvent)="registerActivity($event)">
              </app-register-activity>
            </div>
            <div class="hh-vertical-stadium-buttons__button pt-0">
              <app-register-activity [disabled]="skalAktivitetDeaktiveres(ActivityTypeConstants.NotExecuted)"
                                      [isRegistered]="isRegistered(ActivityTypeConstants.NotExecuted)"
                                      [parentId]="card.id"
                                      [activityType]="getAktivitetType(ActivityTypeConstants.NotExecuted)"
                                      [confirmationModalToShow]="sessionView.gloveUseMustBeRegistered"
                                      [icon]="faTimesCircle"
                                      (activityRegisteredEvent)="registerActivity($event)">
              </app-register-activity>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <app-slett-skygge [show]="showDeleteShadow"></app-slett-skygge>

  <app-info-modal [modalText]="observationDeficiencyText" [showInfoModal]="showInfoModal" (closeInfoModalEvent)="closeInfoModal($event)"></app-info-modal>
</div>
