<div class="container">
  <h4>Downloading data for an institution or department on Excel-format</h4>
  <div class="row mt-4" *ngIf="canSelectInstitution">
    <!-- <div class="col-md-4">
      <label for="institutionsTypes">Institution Types</label>
        <ng-multiselect-dropdown [placeholder]="'Select'"
                                [settings]="dropdownSettings"
                                [data]="institutionTypes"
                                [(ngModel)]="selectedInstitutionTypes"
                                (ngModelChange)="filterInstitutionsByType()">
        </ng-multiselect-dropdown>
    </div>  -->
    <div class="col-md-5">
      <label for="institution">Institution</label>
      <div #dropdownRef>
        <ng-multiselect-dropdown placeholder="Select institutions"
                                [settings]="dropdownSettings"
                                [data]="institutions"
                                [(ngModel)]="selectedInstitutions"
                                (ngModelChange)="onChangeModelInstitution()">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" [(ngModel)]="createInstitutionalReport" class="form-check-input" (ngModelChange)="selectCreateInstitutionalReport()">
      <label class="custom-control-label ms-2">Download for institution</label>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <!-- <div class="col-md-4" >
      <label for="departmentType">Department Types</label>
        <ng-multiselect-dropdown [placeholder]="'Select department types'"
                                  [settings]="dropdownSettings"
                                  [data]="departmentTypes"
                                  [(ngModel)]="selectedDepartmentTypes"
                                  (ngModelChange)="filterDepartmentsByType()">
        </ng-multiselect-dropdown>
    </div> -->
    <div class="col-md-5" [class.dropdown-disabled]="createInstitutionalReport">
      <label for="department">Department</label>
      <ng-multiselect-dropdown [placeholder]="'Select departments'"
                              [disabled]="createInstitutionalReport"
                              [settings]="dropdownSettings"
                              [data]="departments"
                              [(ngModel)]="selectedDepartments">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-md-3">
      <label for="sessionType">Module</label>
      <!-- <select class="form-select" id="sessiontype" [(ngModel)]="selectedSessiontype">
        <option value=""></option>
        <option *ngFor="let sessionType of sessionTypes" [ngValue]="sessionType.value">{{sessionType.name}}</option>
      </select> -->
      <ng-select
          [searchable]="false"
          [clearable]="false"
          [items]="sessionTypes"
          bindLabel="name"
          bindValue="value"
          [(ngModel)]="selectedSessiontype"
          >
        </ng-select>
    </div>
    <div class="col-md-3">
      <label for="fromDate">From date</label>
      <input class="form-control" id="fromDate" type="date" [(ngModel)]="fromDate" [max]="toDate || null" />
    </div>
    <div class="col-3">
      <label for="toDate">To date</label>
      <input class="form-control" id="toDate" type="date" [(ngModel)]="toDate" [min]="fromDate || null" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="form-group col-12">
      <button class="btn btn-sm fhi-btn-primary me-2" (click)="saveReport()" [disabled]="!canCreateReport()">Download file</button>
      <button class="btn btn-sm fhi-btn-secondary ms-2" (click)="reset()">Clear filters</button>
    </div>
  </div>

  <div class="row" *ngIf="storedReport">
    <app-spinner class="col-2"></app-spinner>
  </div>

</div>
