<button class="hh-transparent-button hh-transparent-button hh-transparent-button--small p-0 h-100"
        (click)="showCommentModal(showModal)"
        [disabled]="disabled">
  <span class="d-flex align-items-center" data-hj-suppress>
    <fa-icon [icon]="faCommentLines" class="me-1"></fa-icon>
    {{labelText.value}} <ng-container *ngIf="comment?.length > 0">: <span class="ellipsis-10-chars">{{comment}}</span></ng-container>
  </span>
</button>

<ng-template #showModal let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close')">
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row" >
        <div class="col">
          <ul class="list-unstyled p-1" *ngIf="predefinedComments">
            <li class="mb-3" style="font-size: 17px;" role="button" *ngFor="let predefinedComment of predefinedComments" (click)="predefinedCommentSelected(predefinedComment)">
              <strong data-hj-suppress>{{predefinedComment}}</strong>
            </li>
          </ul>
          <textarea [(ngModel)]="comment" class="form-control" [placeholder]="'Write a note' | translate" rows="2"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn fhi-btn-secondary" (click)="modal.close('Ok'); registerComment()">
      {{"Back to card" | translate}}
    </button>
  </div>
</ng-template>
