<div class="hh-nytt-kort-dropdown">
  <button class="btn hh-nytt-kort-dropdown__toggle" (click)="open()">
    <fa-icon class="me-2" [icon]="faPlus" [ngStyle]="{ 'color': '#FD7065' }"></fa-icon>
    <span class="hh-nytt-kort-dropdown__toggle__text">New card</span>
  </button>
</div>

<ng-template #content let-modal>
  <ng-container *ngIf="roleSelected">
    <div class="modal-header">
      <h4 class="d-flex align-items-center">
        Add new card
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()">
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-4 col-md-3 text-center mb-3" *ngFor="let selection of roleSelected; let i = index;">
          <label [htmlFor]="'profession'+roleSelected.indexOf(selection)">
            <input type="checkbox" [(ngModel)]="selection.isSelected" [id]="'profession'+roleSelected.indexOf(selection)"
                    class="hh-round-checkbox-list__input">
            <fa-stack size="lg">
              <fa-icon [icon]="faCircle" stackItemSize="2x" [ngStyle]="{'color': selection.isSelected ? 'green' : colors.getFhiColorHexFromText(selection.role.name), 'transition': 'all 600ms'}"></fa-icon>
              <fa-icon [icon]="faUserNurse" stackItemSize="1x" *ngIf="!selection.isSelected"></fa-icon>
              <fa-icon [icon]="faCheck" stackItemSize="1x" *ngIf="selection.isSelected"></fa-icon>
            </fa-stack>
            <br />
            <span style="font-size: 14px; word-break: break-all;">
              {{ selection.role.name }}
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn fhi-btn-secondary" (click)="close()">Add</button>
    </div>
  </ng-container>
</ng-template>
