<div class="container">
  <h4>Nedlasting av data for institution eller avdeling på Excel-format</h4>
  <div class="row mt-4" *ngIf="canSelectInstitution">
    <div class="col-md-5">
      <label for="institution">Institution</label>
      <select class="form-select" id="institution" [(ngModel)]="selectedInstitutionId" (ngModelChange)="velgInstitusjon()">
        <option value=""></option>
        <option *ngFor="let institution of institutions" [ngValue]="institution.id">{{institution.name}}</option>
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" [(ngModel)]="lagInstitusjonsrapport" class="form-check-input" (ngModelChange)="velgLagInstitusjonsrapport()">
      <label class="custom-control-label ms-2">Last ned for institution</label>
    </div>
  </div>
  <div class="row mt-4 mb-4">
    <div class="col-md-5">
      <label for="avdeling">Department</label>
      <select class="form-select" id="avdeling" [(ngModel)]="valgtAvdelingId" [disabled]="lagInstitusjonsrapport">
        <option value=""></option>
        <option *ngFor="let avdeling of departments" [ngValue]="avdeling.id">{{avdeling.name}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="sesjonType">Module</label>
      <select class="form-select" id="sessiontype" [(ngModel)]="selectedSessiontype">
        <option value=""></option>
        <option *ngFor="let sessionType of sessionTypes" [ngValue]="sessionType.value">{{sessionType.name}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="fromDate">From date</label>
      <input class="form-control" id="fromDate" type="date" [(ngModel)]="fromDate" />
    </div>
    <div class="col-2">
      <label for="toDate">To date</label>
      <input class="form-control" id="toDate" type="date" [(ngModel)]="toDate" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="form-group col-12">
      <button class="btn btn-sm fhi-btn-primary me-2" (click)="lagRapport()" [disabled]="!kanLageRapport()">Last ned fil</button>
      <button class="btn btn-sm fhi-btn-secondary ms-2" (click)="reset()">Clear filters</button>
    </div>
  </div>

  <div class="row" *ngIf="lagerRapport">
    <app-spinner class="col-2"></app-spinner>
  </div>

</div>
