<div class="container">
  <app-navigation-link (linkClicked)="navigerTilRegistreringssideForHandsmykker(session.id)">Tilbake til observasjon</app-navigation-link>
  <app-session-edit-header [session]="session" [header]="'Session: Håndsmykker'" [sessionIsSentToServer]="sessionIsSentToServer"></app-session-edit-header>
</div>
<div *ngIf="sessionIsSentToServer == false" class="container">
  <div class="accordion-compact mb-4">
    <app-accordion [items]="session.observations"
                   [headerTemplate]="header"
                   [contentTemplate]="content">
    </app-accordion>
    <ng-template #header let-item="item">
      <div>
        <p class="mb-1"><strong>{{ item.role.name }} - {{ item.registrationTime | date:'HH:mm' }}</strong></p>
        <p class="mb-0 lh-1"><small>{{ visHandsmykker(item.handJewelry) }}</small></p>
      </div>
    </ng-template>
    <ng-template #content let-item="item">
      <app-rediger-handsmykker-observation [observasjon]="item"
                                            [department]="session.department"
                                            (observationDeletedEvent)="observationDeletedEventHandler($event)">
      </app-rediger-handsmykker-observasjon>
    </ng-template>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <div class="form-group">
        <input type="text"
               id="FormInput"
               class="form-control"
              
               placeholder="Add comment"
               [(ngModel)]="session.comment"
               (ngModelChange)="sessionService.updateSession(session)">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-offline-melding (harInternettEvent)="isOnline = $event"></app-offline-melding>
    </div>
  </div>
  <app-spinner *ngIf="sessionSentToServer"></app-spinner>
  <div class="row mb-4" *ngIf="!sessionSentToServer">
    <div class="col ms-auto mb-3">
      <app-slett-bekreftelsesdialog (slettetEvent)="sessionDeletedEventHandler(session.id)" [dialogmelding]="DialogueTexts.SessionDeleteConfirmation" [erSvartFarge]="false">
        <i class="icon-trash3"></i>
        Delete session
      </app-slett-bekreftelsesdialog>
    </div>
    <div class="col-auto text-end ms-auto" *ngIf="isOnline">
      <button class="btn fhi-btn-primary"
              (click)="sendToCoordinator()"
              [disabled]="!(session?.observations?.length > 0)">
        Send til koordinator
      </button>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <app-navigation-link [mobileCssClass]="'override-noeffect'" (linkClicked)="navigerTilRegistreringssideForHandsmykker(session.id)">Back to observation</app-navigation-link>
    </div>
  </div>
</div>

<div class="container" *ngIf="sessionIsSentToServer">
  <div class="row">
    <p>{{DialogueTexts.SessionIsSentToCoordinator}}<a [routerLink]="navigateToSentSession()">{{DialogueTexts.ShowSubmittedSession}}</a></p>
  </div>
</div>

