<div class="row" *ngIf="newfacility">
  <div class="col-12">
    <div class="row mb-1">
      <div class="col-md-6">
        <label for="facilityName" class="mb-1">{{"Name" | translate }}</label>
        <input type="text" autocomplete="new-password" id="facilityName" class="form-control" placeholder="e.g. Oslo University Hospital HF" (keypress)="omitSpecialChar($event)" [(ngModel)]="newfacility.name" (ngModelChange)="newfacility.name = $event.trim()">
      </div>
      <div class="col-md-2">
        <label for="abbreviation" class="mb-1">{{"Short Name" | translate }}</label>
        <input type="text" autocomplete="new-password" id="abbreviation" class="form-control" placeholder="e.g. OUS" (keypress)="omitSpecialChar($event)" [(ngModel)]="newfacility.abbreviation" (ngModelChange)="newfacility.abbreviation = $event.trim()">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="facilitytype" class="mb-1">{{"Facility Type" | translate }}</label>
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [items]="facilityTypes"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="newfacility.organisationUnitTypeId"
          >
        </ng-select>
      </div>
      <div *ngIf="newfacility  && listOfCities.length > 0" class="col-md-6">
        <label for="city" class="mb-1">{{"City" | translate }}</label>
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [items]="listOfCities"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="newfacility.city"
          >
        </ng-select>
      </div>
    </div>
    <div class="row mb-2">
      <h5 class="col-12">{{"Coordinator" | translate }}</h5>
      <div class="col-md-3">
        <label for="coordinatorfirstname" class="mb-1">{{"First Name" | translate }}</label>
        <input type="text" autocomplete="new-password" id="coordinatorfirstname" class="form-control" (keypress)="omitSpecialChar($event)" [(ngModel)]="newfacility.firstName" (ngModelChange)="newfacility.firstName = $event.trim()">
      </div>
      <div class="col-md-3">
        <label for="coordinatorLastname" class="mb-1">{{"Last Name" | translate }}</label>
        <input type="text" autocomplete="new-password" id="coordinatorlastname" class="form-control" (keypress)="omitSpecialChar($event)" [(ngModel)]="newfacility.lastName" (ngModelChange)="newfacility.lastName = $event.trim()">
      </div>
      <div class="col-md-4">
        <label for="coordinatorEmail" class="mb-1">{{"Email" | translate }}</label>
        <input type="email" id="coordinatorEmail" autocomplete="email" class="form-control" [(ngModel)]="newfacility.email" (ngModelChange)="newfacility.email = $event.trim()" (keypress)="mailValidatorHelper.validateMailCharacters($event)" [maxlength]="2147483647">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button class="btn fhi-btn-primary mt-1 w-100" [disabled]="canNotCreateFacility()" (click)="createFacility()">{{"Save" | translate }}</button>
      </div>
      <div class="col-md-3">
        <button class="btn fhi-btn-secondary mt-1 me-3"
                (click)="cancelForm()">
          {{ "Cancel" | translate }}
        </button>
      </div>
    </div>

  </div>
