<div class="hh-card-slider">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between" *ngIf="!isReadonly">
      <div class="mb-3">
        <button *ngIf="!erRedigeringsmodus" class="btn fhi-btn-icon" (click)="erRedigeringsmodus = true">
          <i class="icon-pencil"></i>
          Rediger
        </button>
        <button *ngIf="erRedigeringsmodus" class="btn fhi-btn-icon" (click)="lagreObservasjon()">
          <i class="icon-check-circle"></i>
          Lagre
        </button>
      </div>
      
      <div class="mb-3">
        <app-slett-bekreftelsesdialog [erSvartFarge]="false" (slettetEvent)="slettObservasjon()"
                                      [dialogmelding]="DialogueTexts.ObservationDeleteConfirmation">
          <i class="icon-trash3"></i> Slett
        </app-slett-bekreftelsesdialog>
      </div>
    </div>
    <div class="hh-card-slider__card"
         [ngClass]="{ 'hh-card-slider__card--active': erRedigeringsmodus || isReadonly }"
         [ngStyle]="(erRedigeringsmodus || isReadonly) && {'background-color': Farger.hentFhiFargeHexFraTekst(observasjon.role.name)}">
      <div class="row" *ngIf="erRedigeringsmodus">
        <div class="col-12" *ngIf="observasjon.role?.id && observasjon.role.id > 0">
          <app-rolle-valg-dropdown [rolleId]="observasjon.role.id"
                                   [isReadonly]="isReadonly"
                                   [roleSelected]="department.roles"
                                   (rolleValgt)="rolleValgt($event)">
          </app-rolle-valg-dropdown>
        </div>
      </div>
      <div class="row text-break">
        <div class="col">
          <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs nav-justified hh-hanske-tabs">
            <li ngbNavItem="med" [disabled]="observasjon.gloveWithoutIndicationTypes.length">
              <a ngbNavLink class="hh-hanske-tabs__tab">Gloves ved indication</a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="table table-sm w-100 mt-3">
                    <tbody>
                      <tr *ngFor="let type of gloveWithIndicationTypes">
                        <td class="hh-hanske-tabs__label-td">
                          <label class="form-check-label" [for]="type.code">
                            <fa-icon [icon]="faHandPaper" class="fa-2x me-2"></fa-icon>
                            <strong>{{type.name}}</strong>
                          </label>
                        </td>
                        <td class="text-end">
                          <label ngbButtonLabel>
                            <input type="checkbox" ngbButton
                                   class="visually-hidden"
                                   [disabled]="isReadonly || !erRedigeringsmodus"
                                   [(ngModel)]="type.isSelected">
                            <i class="icon-check icon-lg" *ngIf="type.isSelected"></i>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td class="hh-hanske-tabs__label-td" colspan="2">
                          <div class="d-flex">
                            <strong class="pt-2" id="gloveIsUsedHeading">Glove brukt?</strong>

                            <div class="ms-auto">
                              <div class="btn-group fhi-btn-group" role="group" aria-labelledby="gloveIsUsedHeading">
                                <input type="radio" class="btn-check fhi-btn-group__check" name="glovesUsed-{{uuid}}" id="glovesUsed1-{{uuid}}" [disabled]="isReadonly || !erRedigeringsmodus" [value]="true" [(ngModel)]="hanskeBrukt"/>
                                <label class="btn fhi-btn-group__btn" for="glovesUsed1-{{uuid}}">Ja</label>
                                
                                <input type="radio" class="btn-check fhi-btn-group__check" name="glovesUsed-{{uuid}}" id="glovesUsed2-{{uuid}}" [disabled]="isReadonly || !erRedigeringsmodus" [value]="false" [(ngModel)]="hanskeBrukt" />
                                <label class="btn fhi-btn-group__btn" for="glovesUsed2-{{uuid}}">Nei</label>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem="uten" [disabled]="observasjon.gloveWithIndicationTypes.length">
              <a ngbNavLink class="hh-hanske-tabs__tab">Glove uten indication</a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="table table-sm w-100 mt-3">
                    <tbody>
                      <tr *ngFor="let type of gloveWithoutIndicationTypes">
                        <td class="hh-hanske-tabs__label-td">
                          <label class="form-check-label" [for]="type.code">
                            <fa-icon [icon]="faHandPaper" class="fa-2x me-2"></fa-icon>
                            <strong>{{type.name}}</strong>
                          </label>
                        </td>
                        <td class="text-end">
                          <label ngbButtonLabel>
                            <input type="checkbox" ngbButton
                                    class="visually-hidden"
                                    [disabled]="isReadonly || !erRedigeringsmodus"
                                    [(ngModel)]="type.isSelected">
                            <i class="icon-check icon-lg" *ngIf="type.isSelected"></i>
                          </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2 w-100"></div>
          <div class="w-100" *ngIf="hanskeBrukt">
            <h2 class="h5">Håndhygiene etter hanskebruk?</h2>
            <div class="btn-group btn-group-vertical btn-group-toggle d-flex">
              <div class="d-flex justify-content-center" *ngFor="let type of handHygieneAfterGloveUseTypes">
                <input type="radio" class="btn-check fhi-btn-group__check ms-1" id="btnradio-{{type.name}}" [disabled]="isReadonly || !erRedigeringsmodus" [value]="type.code" [(ngModel)]="valgtHygieneEtterHanskebruk" />
                <label class="btn fhi-btn-group__btn" for="btnradio-{{type.name}}">{{type.name}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex flex-row justify-content-around">
            <ng-container *ngIf="erRedigeringsmodus">
              <app-registrer-kommentar [deaktivert]="isReadonly"
                                       [kommentarinput]="observasjon.comment"
                                       (kommentarRegistertEvent)="registrerKommentar($event)">
              </app-registrer-kommentar>
            </ng-container>
            <ng-container *ngIf="!erRedigeringsmodus && observasjon.comment">
              <label><small>Kommentar: <strong data-hj-suppress>{{observasjon.comment}}</strong></small></label>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-info-modal [modalTekst]="observasjonMangelTekst" [visInfoModal]="visInfoModal" (lukkInfoModalEvent)="lukkInfoModal($event)"></app-info-modal>
