<div class="container">
  <div class="row" *ngIf="canEdit && !loading">
    <h3>Department maintenance</h3>
  </div>
  <app-create-department (departmentCreatedEvent)="getDepartments()" [institutionId]="institutionId" [departments]="filteredDepartments" *ngIf="canCreate()"></app-create-department>
  <div class="row mb-5 mt-5" *ngIf="departments?.length > 0">
    <input type="text" autocomplete="off" placeholder="Search by name or department type..." autofocus="" class="form-control fhi-form__form-control m-3" style="width: 350px;" [(ngModel)]="keyword" (ngModelChange)="filterDepartments()">
  
    <ng-container>
      <div class="table-responsive">
        <table class="table" sortable-table (sorted)="sort($event)">
          <thead>
            <tr>
              <th sortable-column="Name"></th>
              <th sortable-column="Department Type"></th>
              <th>Roles</th>
              <th class="text-end" *ngIf="canEdit">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let department of filteredDepartments">
              <ng-container *ngIf="!canEdit && departmentAsChanged?.id !== department.id">
                <td>{{department.name}}</td>
                <td>{{department.departmentType.name}}</td>
                <td>{{getRoleDescriptions(department)}}</td>
              </ng-container>
              <ng-container>
                <ng-container *ngIf="canEdit && departmentAsChanged?.id !== department.id">
                  <td>{{department.name}}</td>
                  <td>{{department.departmentType.name}}</td>
                  <td>{{getRoleDescriptions(department)}}</td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" (click)="setDepartmentAsChanged(department)">
                      <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                    </button>
                  </td>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="canEdit && departmentAsChanged?.id === department.id">
                <td><input type="text" autocomplete="off" (keypress)="omitSpecialChar($event)" class="form-control" [(ngModel)]="departmentAsChanged.name"></td>
                <td>
                  <select class="form-control" id="departmenttype" [(ngModel)]="departmentAsChanged.departmentTypeId">
                    <option value="0">Not selected</option>
                    <option *ngFor="let type of departmentTypes" [ngValue]="type.id" [selected]="departmentAsChanged.departmentTypeId == type.id">{{type.name}}</option>
                  </select>
                </td>
                <td>
                  <ng-multiselect-dropdown [placeholder]="'Select'"
                                           [settings]="dropdownSettings"
                                           [data]="roles"
                                           [(ngModel)]="selectedRoles">
                  </ng-multiselect-dropdown>
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon mr-2" style="width: 100%;"
                                (click)="updateDepartment(departmentAsChanged)"
                                [disabled]="!canBeSaved()">
                    <i class="icon-pencil"></i><span class="btn__text">Save</span>
                  </button>
                  <button class="my-2 btn fhi-btn-icon" style="width: 100%;" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">Cancel</span>
                  </button>
                    <app-confirmation-dialog
                      [buttonClass]="'my-2 btn fhi-btn-icon'"
                      [buttonText]="'Delete'"
                      [shouldUseIcon] = true
                      (confirmEvent)="deleteDepartment(departmentAsChanged)"
                      [dialogMessage]="'By continuing, the department and all data will be deleted. Do you want to continue?'">
                    </app-confirmation-dialog>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    
  </div>
  <div class="row m-3" *ngIf="!loading && departments?.length == 0">
    <div class="col-12">
      <p>There are no departments registered at this institution.</p>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <app-spinner class="col-12">Loading departments</app-spinner>
  </div>
</div>





