<div>
  <div class="row">
    <div class="col">
      <h5>HandJewelry Type</h5>
    </div>
  </div>

  <div class="col-12 m-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th class="text-end" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let handJewelryType of handJewelryTypes">
              <ng-container *ngIf="handJewelryTypeAsChanged?.id !== handJewelryType.id">
                <td>{{handJewelryType.code}}</td>
                <td>{{handJewelryType.name}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="selectedHandJewelryType(handJewelryType)">
                    <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="handJewelryTypeAsChanged?.id === handJewelryType.id">
                <td>{{handJewelryTypeAsChanged.code}}</td>
                <td>
                  <input type="text" autocomplete="off" class="form-control" [(ngModel)]="handJewelryTypeAsChanged.name">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="updateHandJewelryType(handJewelryTypeAsChanged)">
                    <i class="icon-pencil"></i><span class="btn__text">Save</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">Cancel</span>
                  </button>
                </td>
              </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
<div class="row">
  <app-spinner class="col-12" *ngIf="handJewelryTypes?.length == 0">Loading handJewelryTypes</app-spinner>
</div>
