@import "/node_modules/ngx-toastr/toastr";
@import "/node_modules/@folkehelseinstituttet/style/import/all.scss";
@import "./node_modules/@folkehelseinstituttet/angular-components/styles/import/all";
@import "/node_modules/@folkehelseinstituttet/angular-highcharts/styles/import/all";
@import "styles/overrides/ngx-toastr";
@import "styles/ng-bootstrap-hacks";
@import "styles/variables/variables";
@import "styles/blocks/hh-accordion.block";
@import "styles/blocks/hh-navigasjonslenke.block";
@import "styles/blocks/hh-side_menu.block";
@import "styles/blocks/hh-institusjonsvalg.block";
@import "styles/blocks/hh-bytt-institusjon-dropdown.block";
@import "styles/blocks/hh-kodeverk-table.block";
@import "styles/blocks/hh-hanske-handhygiene-radio-btn.block";
@import "styles/blocks/hh-hanske-tabs.block";
@import "styles/blocks/hh-card.block";
@import "styles/blocks/hh-modal.block";
@import "styles/blocks/hh-round-checkbox-list.block";
@import "styles/blocks/hh-stadium-checkbox.block";
@import '~typeface-roboto/index.css';

body {
  font-family: 'Roboto', sans-serif;
}

a {
    color: #4f841a;
}

a:hover {
    color: #3b6015;
}

.fhi-btn-primary {
    color: #fff;
    background-color: #4f841a;
    border-color: #4f841a;
}

.fhi-btn-primary:hover {
    color: #fff;
    background-color: #3b6015 !important;
    border-color: #3b6015 !important;
}

.fhi-btn-primary, .fhi-btn-primary:active, .fhi-btn-primary:focus {
    background-color: #3b6015 !important;
    border-color: #3b6015 !important;
}

.btn:disabled, .btn.disabled {
    background-color: grey !important;
    border-color: grey !important;
}

.fhi-btn-secondary {
    color: #333333 !important;
    background-color:  #ffffff;
    border:  2px solid #4f841a;
    border-radius: 5px;
}

.fhi-btn-secondary:hover {
    background-color: #ffffff !important;
    border-color: #3b6015 !important;
}

.fhi-btn-secondary, .fhi-btn-secondary:active, .fhi-btn-secondary:focus {
    color: #333333 !important;
    background-color: #ffffff !important;
    border-color: #3b6015 !important;
}

.form-control, .form-select, .fhi-ng-select-wrapper .ng-select .ng-select-container .ng-value-container .ng-input > input, .fhi-ng-select-wrapper .ng-select .ng-select-container .ng-value-container .ng-input > input:focus {
    border: 2px solid #4f841a;
}

.form-control:focus, .form-select:focus {
    border: 2px solid #4f841a !important;
    border-radius: 5px !important;
    box-shadow: none !important;
}

.table > :not(caption) > * > * {
background-color: transparent;
}

tr:nth-child(even) {
    background-color: #fafafa !important;
}

.fhi-btn-flat,.fhi-btn-link {
    box-shadow: none;
    text-decoration: unset;
    border: 0;
    padding-right: .5rem;
    padding-left: .5rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: #4996cc;
    width: fit-content;
    text-wrap: nowrap;
}

.table  {
    width: 100% !important;
}

table {
    thead {
        td {
            background-color: #e1efd3 !important;
            font-size: 16px;
            font-weight: bold !important;
        }
        th {
            background-color: #e1efd3 !important;
            font-size: 16px;
            font-weight: bold !important;
        }
    }

    tbody {
        td {
            border: solid 1px #dddddd !important;
        }
    }
}


  
.form-check-input:checked {
    background-color: #4996cc;
}
  
.fa-icon-warning {
    color: #FFD700; 
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fhi-header__project::before
 {
    background-color: #333333;
 }

 .nav-link.active::before {
    background-color: #4f841a !important;
}

