<div>
  <div class="row">
    <div class="col">
      <h5>Indication types</h5>
    </div>
  </div>

  <div class="col-12 m-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Nummer</th>
              <th class="text-end" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let indicationtype of indicationtypes">
              <ng-container *ngIf="indicationtypeAsChanged?.id !== indicationtype.id">
                <td>{{indicationtype.code}}</td>
                <td>{{indicationtype.name}}</td>
                <td>{{indicationtype.number}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="selectedIndicationtype(indicationtype)">
                    <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="indicationtypeAsChanged?.id === indicationtype.id">
                <td>{{indicationtypeAsChanged.code}}</td>
                <td>
                  <input type="text" autocomplete="off" class="form-control" [(ngModel)]="indicationtypeAsChanged.name">
                </td>
                <td>
                  <input type="number" class="form-control" [(ngModel)]="indicationtypeAsChanged.number" maxLength="2" size="2">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="updateIndicationtype(indicationtypeAsChanged)">
                    <i class="icon-pencil"></i><span class="btn__text">Save</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">Cancel</span>
                  </button>
                </td>
              </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
<div class="row">
  <app-spinner class="col-12" *ngIf="indicationtypes?.length == 0">Loading indicationtypes</app-spinner>
</div>
