<fhi-modal *ngIf="!editable">
  <ng-container fhi-modal.button>{{text}}</ng-container>
  <ng-container fhi-modal.body>{{identityPseudonym}}</ng-container>
</fhi-modal>

<fhi-modal *ngIf="editable"
            [actionButtons]="[{name: 'Lagre', disabled: !isOk()}]"
            (modalAction)="ok()">
  <ng-container fhi-modal.button>{{text}}</ng-container>
  <ng-container fhi-modal.body>
    <input type="text" class="form-control mb-1" [(ngModel)]="identityPseudonym" name="identityPseudonym">
  </ng-container>
</fhi-modal>
