<button class="btn" [class.delete-button]="shouldUseIcon" [class.fhi-btn-primary]="!shouldUseIcon" (click)="showModal()"><i *ngIf="shouldUseIcon" class="icon-trash3"></i> {{buttonText}}</button>

<ng-container *ngIf="showModalDialog">
    <div class="ps-modal">
      <div class="ps-modal-content">
        <button class="close-button" (click)="showModal()">X</button>
        <p>{{dialogMessage}}</p>
        <div class="modal-buttons">
          <button class="cancel" (click)="showModal()">{{"Cancel" | translate}}</button>
          <button class="save-button" (click)="confirm()">{{"yes" | translate}}</button>
        </div>
      </div>
    </div>
</ng-container>

