
<app-offline-melding (harInternettEvent)="isOnline = $event"></app-offline-melding>
<div class="container" *ngIf='isOnline'>
  <app-navigation-link (linkClicked)="navigerTilSendteSesjoner()">Tilbake</app-navigation-link>
  <app-sesjonsredigering-overskrift [sesjon]="sesjon" [overskrift]="'Sendt sesjon - Glove'"></app-sesjonsredigering-overskrift>
</div>

<div class="container" *ngIf='isOnline'>
  <div class="accordion-compact mb-4">
    <app-accordion [items]="sesjon?.observations"
                   [headerTemplate]="header"
                   [contentTemplate]="content">
    </app-accordion>
    <ng-template #header let-item="item">
      <div>
        <p class="mb-1"><strong>{{ item.role.name }} - {{ item.registrationTime | date:'HH:mm' }}</strong></p>
        <p class="mb-0 lh-1"><small>{{ visIndikasjoner(item) }}</small></p>
      </div>
    </ng-template>
    <ng-template #content let-item="item">
      <app-rediger-hanske-observasjon [observation]="item"
                                      [department]="sesjon.department"
                                      [isReadonly]="true">
      </app-rediger-hanske-observasjon>
    </ng-template>
  </div>

  <p *ngIf="sesjon?.comment">
      Comment: <small><strong data-hj-suppress>{{sesjon.comment}}</strong></small>
  </p>

  <div class="text-end" *ngIf="sesjon?.observations?.length > 0">
    <button  class="btn fhi-btn-icon" (click)="lastNedSomExcel()">
      <i class="icon-download"></i>
      {{DialogueTexts.DownloadDataAsExcel}}
    </button>
    <app-spinner *ngIf="lasterNedSomExcel"></app-spinner>
  </div>
</div>
