<ng-container *ngIf="endreSettingModus == false">
  <div class="container">
    <app-observasjonsteller [sessionsdata]="sessionsdata" [url]="Urls.ProtectiveEquipmentSessionUrl"></app-observasjonsteller>
    <div class="mb-4">
      <app-navigasjonslenke (lenkeKlikket)="endreSettingModus = true">Til verneutstyr</app-navigasjonslenke>
    </div>
    <h1 class="h3 mt-n4 mt-xl-0">{{sessionView.setting.name}}</h1>
    <div class="row">
      <div class="col">
        <div *ngIf="sessionView.sessionId != null && sessionView.card != null && sessionView.card.length > 0">
          <ng-container *ngFor="let card of sessionView.card">
            <app-beskyttelsesutstyr-observasjonskort (observasjonRegistrert)="registrerObservasjon($event)"
                                                     (sesjonsvisningOppdatert)="oppdaterSesjonsvisning($event)"
                                                     (kortErValgtEvent)="kortErValgt($event)"
                                                     [card]="card"
                                                     [sessionView]="sessionView"
                                                     [roleSelected]="roles">
            </app-beskyttelsesutstyr-observasjonskort>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <app-nytt-kort-info [visTomForKortTekst]="visTomForKortTekst"></app-nytt-kort-info>
  <app-nytt-kort-modal [roles="roles" (onClose)="onCloseNyttKortModal($event)" (onDismiss)="onDismissNyttKortModal($event)">
  </app-nytt-kort-modal>

</ng-container>

<ng-container *ngIf="endreSettingModus">
  <app-valg-for-beskyttelsesutstyr (settingOgUtstyrBleEndret)="settingOgUtstyrBleEndret($event)" [sessionView]="sessionView"></app-valg-for-beskyttelsesutstyr>
</ng-container>

<app-hjelpetekst
  [tittel]="'Tips og triks - observere beskyttelsesutstyr'">
  <p>
    Du kan nå observere på de profesjonene du valgte på <b>Start observasjon</b>-siden, bytte profesjon på det enkelte card ved å klikke på rullegardinen eller legge til nye profesjoner ved å klikke på <b>Nytt card</b>-knappen nede til høyre.

    Du registrerer beskyttelsesutstyr ved å klikke på ikonene i kortet.
    Dersom det ikke benyttes noe beskyttelsesutstyr må du lagre kortet uten avkrysninger for å få registrert observasjonen.

    Hvis du underveis finner ut at et <b>Indikert</b> equipment er <b>Ikke indikert</b> eller omvendt, så kan du dra og slippe utstyret som du vil mellom <b>Indikert</b> og <b>Ikke indikert</b>-feltene på kortet.
  </p>
  <p>
    Når du er ferdig kan du dra kortet mot høyre for å lagre observasjonen.
    Hvis du har registrert noe feil så må du trykke på "Tøm card" - da vil kortet nullstille seg.
    Hvis du ønsker å ta bort et card fra listen kan du dra kortet mot venstre.
  </p>
</app-hjelpetekst>
