<div class="row">
  <div class="col-12 pb-2">
    <h4>[ Edit mode active ]</h4>
    <i>Observation: {{observationId}}</i><br/>
    <i>Registered: {{observation.registrationTime | date:'dd.MM.yyyy HH:mm' }}</i>
    <app-spinner *ngIf="observationLoading"></app-spinner>
  </div>
</div>
<ng-container *ngIf="!observationLoading && observation">
  <div class="hh-card-slider">
    <div class="d-flex flex-column">
      <div class="hh-card-slider__card"
           [ngClass]="{ 'hh-card-slider__card--active': true }"
           [ngStyle]="{'background-color': Colors.getFhiColorHexFromText(observation.role.name)}">

        <div class="row">
          <div class="col-12" *ngIf="protectiveEquipmentIndicated().length > 0">
            <p><strong>Indicated</strong></p>
            <div class="row text-break" *ngIf="protectiveEquipment?.length">
              <div class="col-4 col-md-3 text-center mb-3" *ngFor="let choice of protectiveEquipmentIndicated(); let i = index;">
                <label [htmlFor]="'indikert'+observation.id.substr(4)+i">
                  <input type="checkbox"
                         class="hh-round-checkbox-list__input"
                         [(ngModel)]="choice.wasUsed"
                         (change)="changed($event, choice)"
                         [id]="'indikert'+observation.id.substr(4)+i">

                  <fa-stack class="hh-round-checkbox-list__iconstack">
                    <fa-icon [icon]="faCircle" stackItemSize="2x"
                             class="hh-round-checkbox-list__circle"
                             [ngClass]="{ 'hh-round-checkbox-list__circle--chosen': choice.wasUsed, 'hh-round-checkbox-list__circle--active': true }"></fa-icon>
                    <fa-icon [icon]="iconTypeMap.get(choice.equipmentTypeq.code)" [styles]="{ 'color': 'black' }" [inverse]="true" stackItemSize="1x" *ngIf="!choice.wasUsed"></fa-icon>
                    <fa-icon [icon]="faCheck" [inverse]="true" [styles]="{ 'color': choice.wasUsedCorrectly ? 'green' : 'red' }" stackItemSize="1x" *ngIf="choice.wasUsed"></fa-icon>
                  </fa-stack>
                  <br />
                  <span style="font-size: 17px;"><strong>{{ choice.equipmentTypeq.name }}</strong></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col text-center" >
            <div class="custom-control custom-checkbox hh-stadium-checkbox hh-stadium-checkbox--white" [ngClass]="{ 'hh-stadium-checkbox--disabled': isReadonly }">
              <div class="btn-group btn-group-toggle">
                <label class="w-50" ngbButtonLabel>
                  <input type="checkbox" ngbButton (click)="setAllEquipmentToProperUsed($event)">
                  <span style="font-size: 17px;"><strong>All equipment used correctly</strong></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="hh-card-slider__stripe" *ngIf="protectiveEquipmentNotIndicated().length > 0">
          <p><strong>Not indicated</strong></p>
          <div class="custom-control custom-checkbox hh-stadium-checkbox"
               *ngFor="let choice of protectiveEquipmentNotIndicated(); let i = index;"
               [ngClass]="{ 'hh-stadium-checkbox--checked':choice.wasUsed }">
            <div class="btn-group btn-group-toggle">
              <label class="w-50" ngbButtonLabel>
                <input type="checkbox" ngbButton [(ngModel)]="choice.wasUsed" (change)="changed($event, choice)">
                <fa-icon class="mr-2" *ngIf="choice.wasUsed" [styles]="{ 'color': choice.wasUsedCorrectly ? 'green' : 'red' }" [icon]="faCheck"></fa-icon>
                <span style="font-size: 17px;"><strong>{{ choice.equipmentTypeq.name }}</strong></span>
              </label>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
  <div *ngIf="settings" class="row">
    <div class="col-10 col-lg-2 col-md-3 pb-2">
      <label for="setting" class="form-label">Setting</label>
      <select class="form-control" id="setting" [(ngModel)]="selectedSetting" (ngModelChange)="selectSetting()">
        <option *ngFor="let setting of sortedSettings()"
                [ngValue]="setting"
        >{{setting.name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-lg-3 col-md-4">
      <label class="form-label">Role</label>
      <app-role-selection-dropdown [roleId]="observation.role.id"
                               [departmentId]="department.id"
                               (roleSelected)="selectRole($event)"
                               [customClass]="''">
      </app-role-selection-dropdown>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="comment" class="form-label">Comment</label>
      <textarea [(ngModel)]="observation.comment" id="comment" (change)="registerComment(observation.comment)" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
</ng-container>


