<div class="container" *ngIf="facilityId == 0">
  <div class="row">
    <h3>{{"Health Care Facility" | translate }}</h3>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn fhi-btn-primary mt-1 w-100" [disabled]="showCreateFacilityForm" (click)="toggleShowForm()">{{"Create Healthcare Facility" | translate }}</button>
    </div>
  </div>
  <div *ngIf="showCreateFacilityForm">
    <app-create-facility [facilities]="totalFacilities" [coordinators]="users" (resetFormEvent)="toggleShowForm()" (facilityCreatedEvent)="getFacilities()"></app-create-facility>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="row mb-5 mt-5">
        <div class="col-md-4">
            <h5>{{"Search for Healthcare Facility" | translate }}</h5>
            <input type="text" autocomplete="off" [placeholder]="'Search by (name/city)' | translate" autofocus="" class="form-control fhi-form__form-control mt-1" [(ngModel)]="keyword" (ngModelChange)="filterFacilities()">
        </div>
        <div class="col-md-4">
            <h5>{{"Search for Healthcare Facility on person" | translate }}</h5>
            <input type="text" autocomplete="off" [placeholder]="'Search by (coordinator/observer)' | translate" autofocus="" class="form-control fhi-form__form-control mt-1" [(ngModel)]="keywordPerson" (ngModelChange)="filterPersonsAtFacilities()">
        </div>
      </div>
    </div>
  </div>
    <ng-container>
      <div class="table-responsive">
        <table class="table mt-3" sortable-table (sorted)="sort($event)">
          <thead>
            <tr>
              <th [sortable-column]="'Name' | translate"></th>
              <th>{{"Short Name" | translate }}</th>
              <th>{{"Facility Type" | translate }}</th>
              <th [sortable-column]="'City' | translate"></th>
              <th class="text-center" scope="col">{{"Action" | translate }}</th>
            </tr>
    
          </thead>
          <tbody>
            <tr *ngFor="let facility of filteredFacilities">
              <td>{{facility.name}}</td>
              <td>{{facility.abbreviation}}</td>
              <td>{{facility.facilityType?.name}}</td>
              <td>{{ facility.city?.name }}</td>
              <td class="text-end py-2 align-middle">
                <button class="btn fhi-btn-icon" (click)="navigateToFacility(facility.id)">
                    <i class="icon-pencil"></i><span class="btn__text">{{"Edit" | translate }}</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>


  <div class="row">
    <app-spinner class="col-12" *ngIf="facilities?.length == 0">Loading healthcare facilities</app-spinner>
  </div>

</div>
<ng-container *ngIf="facilityId > 0">
  <app-edit-a-facility [facilityId]="facilityId" [facilities]="totalFacilities" (facilityDeletedEvent)="deleteFacility($event)" (facilityUpdatedEvent)="updateFacility($event)"></app-edit-a-facility>
</ng-container>

