<div>
  <div class="row ms-1">
    <div class="col">
      <h5>Institusjonstyper</h5>
    </div>
  </div>
  <div class="row ms-1">
    <div class="col-3">
      <input type="text" class="form-control" [(ngModel)]='nyInstitusjonstype.code' placeholder="Kode">
    </div>
    <div class="col-3">
      <input type="text" class="form-control" [(ngModel)]='nyInstitusjonstype.name' placeholder="Navn">
    </div>
    <div class="col-6">
      <label></label>
      <button class="form-control btn fhi-btn-primary" (click)="opprettInstitusjonstype()" [disabled]="!nyInstitusjonstype.code || !nyInstitusjonstype.name">Legg til</button>
    </div>
  </div>

  <div class="col-12 m-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Kode</th>
              <th>Navn</th>
              <th class="text-end" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let institusjonstype of institusjonstyper">
              <ng-container *ngIf="institusjonstypeSomEndres?.id !== institusjonstype.id">
                <td>{{institusjonstype.code}}</td>
                <td>{{institusjonstype.name}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="valgtInstitusjonstype(institusjonstype)">
                    <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="institusjonstypeSomEndres?.id === institusjonstype.id">
                <td>{{institusjonstypeSomEndres.code}}</td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="institusjonstypeSomEndres.name">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="oppdaterInstitusjonstype(institusjonstypeSomEndres)">
                    <i class="icon-pencil"></i><span class="btn__text">Save</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">Cancel</span>
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
<div class="row">
  <app-spinner class="col-12" *ngIf="institusjonstyper?.length == 0">Laster institusjonstyper</app-spinner>
</div>
