<div class="row" *ngIf="nyInstitusjon">
  <div class="col-12">
    <div class="row mb-1">
      <div class="col-md-6">
        <label for="institutionname" class="mb-1">Name</label>
        <input type="text" id="institutionname" class="form-control" placeholder="e.g. Oslo University Hospital HF" [(ngModel)]="nyInstitusjon.institutionname">
      </div>
      <div class="col-md-2">
        <label for="abbreviation" class="mb-1">Shortname</label>
        <input type="text" id="abbreviation" class="form-control" placeholder="e.g. OUS" [(ngModel)]="nyInstitusjon.abbreviation">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="institusjonstype" class="mb-1">Institutiontype</label>
        <select class="form-select" id="institusjonstype" [(ngModel)]="nyInstitusjon.institusjonTypeId" (ngModelChange)="visHelseforetakEllerRegion(nyInstitusjon.institusjonTypeId)">
          <option *ngFor="let institusjonstype of institusjonstyper" [ngValue]="institusjonstype.id">{{institusjonstype.name}}</option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="showMunicipality">
        <label for="municipality" class="mb-1">Municipality</label>
        <select class="form-select" id="municipality" [(ngModel)]="nyInstitusjon.municipalityId">
          <option value="0"></option>
          <option *ngFor="let municipality of municipalities" [ngValue]="municipality.id">{{municipality.name}}</option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="showHealthcareEnterprise">
        <label for="Healthcareenterprise" class="mb-1">HealthcareEnterprise</label>
        <select class="form-select" id="Healthcareenterprise" [(ngModel)]="nyInstitusjon.healthEnterpriseId">
          <option value="0"></option>
          <option *ngFor="let Healthcareenterprise of listOfHealthcareEnterprises" [ngValue]="Healthcareenterprise.id">{{Healthcareenterprise.name}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <h5 class="col-12">Koordinator</h5>
      <div class="col-md-3">
        <label for="koordinatorfornavn" class="mb-1">Firstname</label>
        <input type="text" id="koordinatorfornavn" class="form-control" [(ngModel)]="nyInstitusjon.koordinatorFornavn">
      </div>
      <div class="col-md-3">
        <label for="koordinatorEtternavn" class="mb-1">Lastname</label>
        <input type="text" id="koordinatoretternavn" class="form-control" [(ngModel)]="nyInstitusjon.koordinatorEtternavn">
      </div>
      <div class="col-md-4">
        <label for="koordinatorEpost" class="mb-1">Epost</label>
        <input type="email" id="koordinatorEpost" class="form-control" [(ngModel)]="nyInstitusjon.koordinatorEpost" [maxlength]="2147483647">
      </div>
      <div class="col-md-2">
        <label for="koordinatorhprnummer" class="mb-1">HPR-nummer</label>
        <input type="text" id="koordinatorhprnummer" class="form-control" [(ngModel)]="nyInstitusjon.koordinatorHPRnummer" [maxlength]="2147483647">
        <app-search-hprnumber-link></app-search-hprnumber-link>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button class="btn fhi-btn-primary mt-1 w-100" [disabled]="kanIkkeOppretteInstitusjon()" (click)="createInstitution()">Create institusjon</button>
      </div>
    </div>

  </div>
