<div class="fhi-app fhi-admin-view hh-app" id="top">
  <header class="fhi-header">
    <div class="fhi-header__brand pb-5">
      <div
        class="container fhi-header__brand-container d-flex"
        [ngClass]="{ 'pb-3': !mainMenuToBeDisplayed() }"
      >
        <div class="fhi-header__brand-content" [ngClass]="{'d-xl-flex': !shouldShowAppBrand()}">
          <!-- <a class="fhi-header__logo" routerLink="/"> -->
          <a routerLink="/">
            <!-- <i class="icon-fhi-logo fhi-header__logo-icon"></i> -->
            <img style="object-fit: cover; width: 70px; height: 70px;" src="../assets/logos/ecdc.svg" alt="ECDC-Logo">
          </a>
          <div class="fhi-header__project" style="top: 3px; height: 40px;">
            <span class="fhi-header__project-name flex-md-row" style="justify-content: center; font-size: 1.5rem;">
              <span class="me-md-1 text-nowrap" style="display: flex; align-items: center;"
                >ECDC <span class="d-none d-md-inline">-</span></span
              >
              <small
                class="d-none d-md-inline d-lg-flex flex-column justify-content-center logo-text"
                >National tool for observation of infection prevention measures in the health service</small>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="fhi-app__main-menu" *ngIf="mainMenuToBeDisplayed()">
      <div class="fhi-app__main-menu-container">
        <app-main-menu></app-main-menu>
      </div>
    </div>
  </header>

  <main class="fhi-app__main-content">
    <router-outlet></router-outlet>
  </main>
  <!-- <app-authentication-failed-modal></app-authentication-failed-modal> -->
</div>
