<div class="fhi-app fhi-admin-view hh-app" id="top">
  <header class="fhi-header">
    <div class="fhi-header__brand pb-5">
      <div
        class="container fhi-header__brand-container d-flex"
        [ngClass]="{ 'pb-3': !mainMenuToBeDisplayed() }"
      >
        <div class="fhi-header__brand-content" [ngClass]="{'d-xl-flex': !shouldShowAppBrand()}">
          <a routerLink="/">
            <img style="object-fit: cover; width: auto; height: 75px; position: relative; bottom: 20px;" src="../assets/logos/ecdc-menu.png" alt="ECDC-Logo">
          </a>
        </div>
      </div>
    </div>
    <div class="fhi-app__main-menu" *ngIf="mainMenuToBeDisplayed()">
      <div class="fhi-app__main-menu-container">
        <app-main-menu></app-main-menu>
      </div>
    </div>
  </header>

  <main class="fhi-app__main-content">
    <router-outlet></router-outlet>
  </main>
  <!-- <app-authentication-failed-modal></app-authentication-failed-modal> -->
</div>
