<div class="container">
  <ng-container *ngIf="!unitAsEdited">
  <div class="row">
    <div class="col-md-4">
      <button class="btn fhi-btn-primary mt-1 w-100" [disabled]="showCreateUnitForm" (click)="toggleShowForm()">{{"Create Unit" | translate }}</button>
    </div>
  </div>
  <div *ngIf="showCreateUnitForm">
    <app-create-unit (unitCreatedEvent)="getUnits()" (resetFormEvent)="toggleShowForm()" [facilityId]="facilityId" *ngIf="facilityId > 0 && unitId == 0"></app-create-unit>
  </div>
    <div class="row mb-5 mt-5">
      <input type="text" autocomplete="off" [placeholder]="'Search for Unit ...' | translate" autofocus="" class="form-control fhi-form__form-control m-3" style="width: 350px;" [(ngModel)]="keyword" (ngModelChange)="filterUnits()">
      <ng-container>
        <div class="table-responsive">
          <table class="table" sortable-table (sorted)="sort($event)">
            <thead>
              <tr>
                <td [sortable-column]="'Name' | translate"></td>
                <td [sortable-column]="'Departments' | translate"></td>
                <td class="text-end" scope="col">{{"Action" | translate }}</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let unit of filteredUnits">
                <td>{{unit.name}}</td>
                <td>{{getDepartmentName(unit)}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="navigateToUnit(unit.id)">
                    <i class="icon-pencil"></i><span class="btn__text">{{"Edit unit" | translate}}</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      
    </div>
  </ng-container>
  <ng-container *ngIf="unitAsEdited">
    <app-edit-a-unit [unit]="unitAsEdited" [units]="units"></app-edit-a-unit>
  </ng-container>
  <div class="row" *ngIf="!loading && units?.length == 0">
    <div class="col-12">
      <p>{{"There are no units registered at this healthcare facility." | translate}}</p>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <app-spinner class="col-12">{{"Loading units" | translate}}</app-spinner>
  </div>
</div>





