<div>
  <div class="row">
    <div class="col">
      <h5>{{"Glove Without Indication Types" | translate }}</h5>
    </div>
  </div>

  <div class="col-12 m-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{{"Code" | translate }}</th>
              <th>{{"Name" | translate }}</th>
              <th class="text-end" scope="col">{{"Action" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gloveWithoutIndicationType of gloveWithoutIndicationType">
              <ng-container *ngIf="gloveWithoutIndicationTypeAsChanged?.id !== gloveWithoutIndicationType.id">
                <td>{{gloveWithoutIndicationType.code}}</td>
                <td>{{gloveWithoutIndicationType.name}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="selectedGloveWithoutIndicationType(gloveWithoutIndicationType)">
                    <i class="icon-pencil"></i><span class="btn__text">{{"Edit" | translate }}</span>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="gloveWithoutIndicationTypeAsChanged?.id === gloveWithoutIndicationType.id">
                <td>{{gloveWithoutIndicationTypeAsChanged.code}}</td>
                <td>
                  <input type="text" autocomplete="off" class="form-control" [(ngModel)]="gloveWithoutIndicationTypeAsChanged.name">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="updateGloveWithoutIndicationType(gloveWithoutIndicationTypeAsChanged)">
                    <i class="icon-pencil"></i><span class="btn__text">{{"Save" | translate }}</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">{{"Cancel" | translate }}</span>
                  </button>
                </td>
              </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
<div class="row">
  <app-spinner class="col-12" *ngIf="gloveWithoutIndicationType?.length == 0">{{"Loading Glove Without Indication Types" | translate }}</app-spinner>
</div>


