<ng-container>
  <div class="table-responsive">
    <table class="table mb-0">
      <thead>
      <tr>
        <th>Role</th>
        <th>With/Without Indications</th>
        <th>Indications</th>
        <th>Glove used</th>
        <th>Hand hygiene after wearing gloves</th>
        <th>Registered</th>
        <th>Comment</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let observation of observations">
        <tr (click)="selectObservation(observation)" *ngIf="gloveObservationAsChanged?.id !== observation.id" >
          <td>{{observation.role.name}}</td>
          <td *ngIf="observation.gloveObservation.gloveWithIndicationTypes.length > 0">Glove with indications</td>
          <td *ngIf="observation.gloveObservation.gloveWithoutIndicationTypes.length > 0">Glove without indications</td>
          <td *ngIf="observation.gloveObservation.gloveWithoutIndicationTypes.length <= 0 && observation.gloveObservation.gloveWithIndicationTypes.length <= 0">-</td>
          <td>
            <ul style="padding-left: 20px;" *ngIf="observation.gloveObservation.gloveWithIndicationTypes.length > 0">
              <li *ngFor="let gloveWithIndicationType of observation.gloveObservation.gloveWithIndicationTypes">
                {{gloveWithIndicationType.name}}
              </li>
            </ul>
            <ul style="padding-left: 20px;" *ngIf="observation.gloveObservation.gloveWithoutIndicationTypes.length > 0">
              <li *ngFor="let gloveWithoutIndicationType of observation.gloveObservation.gloveWithoutIndicationTypes">
                {{gloveWithoutIndicationType.name}}
              </li>
            </ul>
          </td>
          <td>{{observation.gloveObservation.usedGlove ? "Yes" : 'No'}}</td>
          <td>
                  <span>
                    {{ observation.gloveObservation.handhygieneAfterGloveuseType?.name
                    ? observation.gloveObservation.handhygieneAfterGloveuseType?.name
                    : ' '}}
                  </span>
          </td>
          <td>{{observation.registrationTime | date:'dd.MM.yyyy HH:mm' }}</td>
          <td>{{observation.comment}}</td>
        </tr>
        <ng-container *ngIf="gloveObservationAsChanged && gloveObservationAsChanged.id === observation.id">
          <tr>
            <td colspan="12">
              <i>ID: {{observation.id}}</i>
            </td>
          </tr>
          <tr>
            <td>
              <app-role-selection-dropdown [roleId]="gloveObservationAsChanged.role.id" [departmentId]="avdeling.id" (roleSelected)="selectRole($event)"></app-role-selection-dropdown>
            </td>
            <td>
              <div class="w-100">
                <div class="d-flex justify-content-center">
                  <input type="radio" class="btn-check fhi-btn-group__check" name="btnradio" id="btnmedindication" [value]="true" [(ngModel)]="gloveWithIndicationsSelected" >
                  <label class="btn fhi-btn-group__btn" for="btnmedindication">With indications</label>
                  
                  <input type="radio" class="btn-check fhi-btn-group__check" name="btnradio" id="btnwithoutindication" [value]="false" [(ngModel)]="gloveWithIndicationsSelected" >
                  <label class="btn fhi-btn-group__btn" for="btnwithoutindication">Without indications</label>
                </div>
              </div>
            </td>
            <td>
              <ng-container *ngIf="gloveWithIndicationsSelected">
                <ul *ngFor="let gloveWithIndicationType of gloveWithIndicationTypes">
                  <div class="form-check">
                    <input [checked]="gloveWithIndicationType.isSelected" (change)="gloveWithIndicationType.isSelected= !gloveWithIndicationType.isSelected" class="form-check-input" type="checkbox"  id="customCheck{{gloveWithIndicationType.code}}">
                    <label class="form-check-label" for="customCheck{{gloveWithIndicationType.code}}">
                      {{gloveWithIndicationType.name}}
                    </label>
                  </div>
                </ul>
              </ng-container>
              <ng-container *ngIf="!gloveWithIndicationsSelected">
                <ul *ngFor="let gloveWithoutIndicationType of gloveWithoutIndicationTypes">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [checked]="gloveWithoutIndicationType.isSelected" (change)="gloveWithoutIndicationType.isSelected = !gloveWithoutIndicationType.isSelected" id="customCheck{{gloveWithoutIndicationType.code}}">
                    <label class="form-check-label" for="customCheck{{gloveWithoutIndicationType.code}}">
                      {{gloveWithoutIndicationType.name}}
                    </label>
                  </div>
                </ul>
              </ng-container>
            </td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gloveused"
                       [disabled]="gloveWithIndicationsSelected == false"
                       [checked]="gloveObservationAsChanged.usedGlove"
                       (change)="gloveObservationAsChanged.usedGlove = !gloveObservationAsChanged.usedGlove"
                       >
                <label class="form-check-label" for="gloveused">
                  Glove used?
                </label>
              </div>
            </td>
            <td>
              
              <div class="w-100" *ngIf="gloveObservationAsChanged.usedGlove">
                <div class="d-flex justify-content-center" *ngFor="let type of handHygieneAfterGloveUseTypes">
                  <input type="radio" class="btn-check fhi-btn-group__check" id="type-{{type.name}}" [value]="type.code" [(ngModel)]="selectedHygieneAfterGloveuseCode"> 
                  <label class="btn fhi-btn-group__btn" for="type-{{type.name}}">{{type.name}}</label>
                </div>
              </div>

              <div *ngIf="gloveObservationAsChanged.usedGlove == false"> </div>
            </td>
            <td>{{gloveObservationAsChanged.registrationTime | date:'dd.MM.yyyy HH:mm' }}</td>
            <td>
              <textarea style="width: 12rem;" [(ngModel)]="gloveObservationAsChanged.comment" (ngModelChange)="changeComment($event)">{{gloveObservationAsChanged.comment}}</textarea>
            </td>
          </tr>
          <tr></tr>
          <tr>
            <td colspan="12" class="col-12">
              <div class="form-row">
                <div class="col mt-3">
    
                  <app-confirmation-dialog 
                                        [buttonText]="'Save'"
                                        [buttonClass]="'btn fhi-btn-primary me-3'"
                                        (confirmEvent)="updateGloveObservation()"
                                        [dialogMessage]="'Are you sure you want to save changes to observation with id ' + observation.id + '?'">
                  </app-confirmation-dialog>
                  <app-confirmation-dialog 
                                        [buttonText]="'Delete'"
                                        [buttonClass]="'btn fhi-btn-secondary me-3'"
                                        (confirmEvent)="deleteGloveObservation()" 
                                        [dialogMessage]='"Do you want to delete observation with id: " + observation.id + "?"'>
                  </app-confirmation-dialog>
                  <button class="btn fhi-btn-primary bg-dark me-3"
                          (click)="cancelEditObservation($event)">
                    Cancel
                  </button>
    
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
    
      </ng-container>
    
      </tbody>
    </table>    
  </div>
</ng-container>