<div class="form-group pe-3">
  <!-- <select [disabled]="isReadonly"
          id="{{id}}"
          class="form-control form-control--rounded form-control--smaller form-control--arrow"
          [ngClass]="{'form-control--no-border': isReadonly}"
          [(ngModel)]="selectedRoleId"
          (ngModelChange)="selectedRoleChanged()"
          [style]="{ 'background-color': getColor() }">
    <option *ngFor="let role of roleSelectedI" [value]="role.id+''" >{{role.name}}</option>
  </select> -->
          <ng-select *ngIf="roleSelectedI && selectedRoleId"
            [disabled]="isReadonly"
            [ngClass]="{'form-control--no-border': isReadonly}"
            [style]="{ 'background-color': getColor() }"
            [items]="roleSelectedI"
            bindLabel="name"
            bindValue="id"
            placeholder="Select Role"
            [clearable]="false"
            [searchable]="false"
            [(ngModel)]="selectedRoleId"
            (ngModelChange)="selectedRoleChanged()"
            >
        </ng-select>
</div>
