<div class="container">
    <div class="row">
        <h5>Email</h5>
        <button class="btn fhi-btn-primary mb-5 ms-3 col-3" (click)="OpenEmailClient()" [disabled]="!facilityId || (!coordinatorsSelected && !observerSelected)">Open Email client</button>
        
        <div class="row align-items-end mb-4">
            
            <div class="col-md-4">
                <label for="facility">Healthcare facilities</label>
                <ng-select
                    [searchable]="false"
                    [clearable]="false"
                    [items]="facilities"
                    bindLabel="name"
                    bindValue="id"
                    [(ngModel)]="facilityId"
                    (ngModelChange)="updateUserList()"
                    >
                </ng-select>
            </div>
            
            <div style="position: relative; bottom: 6px;" class="col-md-2">
                <label style="margin-right: 10px;" for="coordinator">Coordinator</label>
                <input type="checkbox" class="form-check-input" id="coordinator" [(ngModel)]="coordinatorsSelected" (ngModelChange)="updateUserList()" name="coordinator">
            </div>
            
            <div style="position: relative; bottom: 6px;" class="col-md-2">
                    <label style="margin-right: 10px;" for="observers">Observers</label>
                    <input type="checkbox" class="form-check-input" id="observers" [(ngModel)]="observerSelected" (ngModelChange)="updateUserList()" name="observer">
            </div>
        </div>
        
        <div class="table-responsive mt-3">
            <table class="table" sortable-table (sorted)="sort($event)" >
                <thead>
                    <tr>
                        <th sortable-column="Firstname"></th>
                        <th sortable-column="Lastname"></th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of filteredUserList">
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>