<div class="row">
  <div class="col-12">
    <button class="btn fhi-btn-primary mb-5 mt-3" [disabled]="showCreateForm" (click)="toggleCreateForm()">{{"Create coordinator" | translate }}</button>
  </div>
</div>
<div *ngIf="showCreateForm">
  <app-create-coordinator-form [facilityId]="facilityId" [coordinators]="coordinators" (CreateCoordinatorEvent)="createCoordinator($event)" (CancelCreateEvent)="CancelCreateEmitted()"></app-create-coordinator-form>
</div>
<div class="row" *ngIf="coordinators">
  <input type="text" autocomplete="off" *ngIf="coordinators.length > 0" [placeholder]="'Search' | translate" autofocus="" class="form-control fhi-form__form-control my-3 ms-3" style="width: 400px;" [(ngModel)]="searchWord" (ngModelChange)="filterCoordinators()">
  <p class="col-12" *ngIf="coordinators.length === 0">{{"No coordinators found at this facility" | translate}}</p>
  
  <ng-container>
    <div class="table-responsive">
      <table class="table" *ngIf="coordinators.length > 0" sortable-table (sorted)="sorting($event)">
        <thead>
          <tr>
            <th [sortable-column]="'First Name' | translate"></th>
            <th [sortable-column]="'Last Name' | translate"></th>
            <th>{{"Email" | translate }}</th>
            <th>{{"Disabled" | translate }}</th>
            <th class="text-end" scope="col">{{"Action" | translate }}</th>
          </tr>
        </thead>
        <tbody>  
          <tr *ngFor="let coordinator of filteredCoordinators">
            <ng-container *ngIf="coordinatorIsChanged?.id != coordinator.id">
              <td>{{coordinator.firstName}}</td>
              <td>{{coordinator.lastName}} </td>
              <td>{{coordinator.email}}</td>
              <td>
                <input type="checkbox" class="form-check-input" [(ngModel)]="coordinator.isDeactivated" name="isDeactivated" disabled="disabled">
              </td>
              
              <td class="text-end py-2 align-middle">
                <button class="btn fhi-btn-icon" (click)="setCoordinatorAsChanged(coordinator)">
                  <i class="icon-pencil"></i><span class="btn__text">{{"Edit" | translate }}</span>
                </button>
              </td>
            
            </ng-container>
            <ng-container *ngIf="coordinatorIsChanged?.id == coordinator.id">
              <td>
                <input type="text" autocomplete="off" class="form-control" [(ngModel)]="coordinatorIsChanged.firstName" (ngModelChange)="coordinatorIsChanged.firstName = $event.trim()" (keypress)="omitSpecialChar($event)" name="firstName" [placeholder]="'First Name' | translate">
              </td>
              <td>
                <input type="text" autocomplete="off" class="form-control" [(ngModel)]="coordinatorIsChanged.lastName" (ngModelChange)="coordinatorIsChanged.lastName = $event.trim()" (keypress)="omitSpecialChar($event)" name="lastName" [placeholder]="'Last Name' | translate">
              </td>
              <td>
                <input type="email" class="form-control" [(ngModel)]="coordinatorIsChanged.email" name="email" (keypress)="mailValidatorHelper.validateMailCharacters($event)" disabled [placeholder]="'Email' | translate">
              </td>

              <td>
                <input type="checkbox" class="form-check-input" [(ngModel)]="coordinatorIsChanged.isDeactivated" name="isDeactivated">
              </td>

              <td class="text-end py-2 align-middle">
                <ng-container *ngIf="coordinator.id == coordinatorIsChanged?.id">
                  <button class="btn fhi-btn-icon mr-2 w-100"
                          (click)="updateCoordinator(coordinatorIsChanged)"
                          [disabled]="canbeChanged(coordinatorIsChanged) == false">
                          <i class="icon-pencil"></i><span class="btn__text">{{"Save" | translate }}</span>
                  </button>
                  <div *ngIf="canDelete">
                    <app-confirmation-dialog 
                                                  [buttonText]="'Delete' | translate"
                                                  (confirmEvent)="deleteCoordinator(coordinator)"
                                                  [dialogMessage]="dialogMessageService.translateText('Do you want to delete the coordinator') + ', ' + coordinator.firstName + ' ' + coordinator.lastName + '?'"
                                                  [buttonClass]="'mt-2 btn fhi-btn-icon w-100'"
                                                  [shouldUseIcon]=true>
                    </app-confirmation-dialog>
                  </div>
    
                  <button class="my-2 btn fhi-btn-icon w-100" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">{{"Cancel" | translate }}</span>
                  </button>
                </ng-container>
              </td>

            </ng-container>
          </tr>
        </tbody>
      </table>  
    </div>
      </ng-container>
</div>
