<button class="show-button" (click)="showModal()">{{text}}</button>

<ng-container *ngIf="showModalDialog">  
  <ng-container *ngIf="!editable; else editableModal">
    <div class="ps-modal">
      <div class="ps-modal-content">
        <p>{{identityPseudonym}}</p>
        <button (click)="showModal()">Close</button>
      </div>
    </div>
  </ng-container>  
  <ng-template #editableModal>
    <div class="ps-modal">
      <div class="ps-modal-content">
        <input type="text" autocomplete="off" class="form-control mb-1" [(ngModel)]="identityPseudonym" name="identityPseudonym">
        <div class="modal-buttons">
          <button (click)="showModal()">Cancel</button>
          <button class="save-button" [disabled]="!isOk()" (click)="ok()">Save</button>
        </div>
      </div>
    </div>
  </ng-template >
</ng-container>
