<div class="container">
  <ng-container *ngIf="facilityReport else spinner ">
    <div class="row">
      <h3>{{"Maintenance of coordinators" | translate}}</h3>
    </div>
    <div *ngIf="!facilityReport.city">
      <app-edit-coordinators [facilityId]="facilityReport.id"></app-edit-coordinators>
    </div>
    <div *ngIf="facilityReport.city">
      <app-edit-coordinators-for-city [facility]="facilityReport"></app-edit-coordinators-for-city>
    </div>
  </ng-container>
  <ng-template #spinner>
    <div class="row">
      <app-spinner class="col-12"></app-spinner>
    </div>
  </ng-template>
</div>
