<div class="container">
  <ng-container *ngIf="facilityReport else spinner ">
    <div class="row">
      <h3>Maintenance of coordinators</h3>
    </div>
    <div *ngIf="!facilityReport.healthcareOrganization">
      <app-edit-coordinators [facilityId]="facilityReport.id"></app-edit-coordinators>
    </div>
    <div *ngIf="facilityReport.healthcareOrganization">
      <app-edit-coordinators-for-healthcareOrganization [facility]="facilityReport"></app-edit-coordinators-for-healthcareOrganization>
    </div>
  </ng-container>
  <ng-template #spinner>
    <div class="row">
      <app-spinner class="col-12"></app-spinner>
    </div>
  </ng-template>
</div>
