<div class="row">
  <h5 class="col-12 mt-2">Create Clinic</h5>
  <div class="col-12 col-lg-6">
    <div class="form-row">
      <div class="form-group col-12 mb-3">
        <label for="clinicname">Name</label>
        <input type="text" id="clinicname" class="form-control" placeholder="e.g. Medical Clinic" (keypress)="omitSpecialChar($event)" [(ngModel)]="newClinic.name">
      </div>
      <div class="form-group col-12 mb-3">
        Departments to be associated with the clinic
        <div class="custom-control custom-checkbox my-1" *ngFor="let selection of departmentsSelection">
          <input type="checkbox" [(ngModel)]="selection.isSelected" [id]="'role'+departmentsSelection.indexOf(selection)" class="form-check-input">
          <label [htmlFor]="'role'+departmentsSelection.indexOf(selection)" class="custom-control-label ms-2">
            <span>{{ selection.department.name }}</span>
          </label>
          <fa-icon *ngIf="selection.isAlreadyAtClinic" [icon]="fawarningicon" class="mx-1 fa-icon-warning" ngbTooltip="Used by another Clinic!"></fa-icon>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row col-3">
  <button class="btn fhi-btn-primary ms-3 mt-1" [disabled]="canNotCreateClinic()" (click)="createClinic()">Create Clinic</button>
</div>
