<div>
  <div class="modal-header pt-6">
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()">
    </button>
  </div>
  <div class="modal-body px-7 py-1">
    {{ message }}
  </div>
  <div class="modal-footer">
    <div class="d-flex">
      <button type="button" class="btn fhi-btn-primary me-2" (click)="close(true)">{{"Yes" | translate}}</button>
      <button type="button" class="btn fhi-btn-secondary" (click)="close(false)">{{"No" | translate}}</button>
    </div>
  </div>
</div>
