<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-12">
      <h2 > <fa-icon [icon]="faUser"></fa-icon> {{ "Profile" | translate }}</h2>
    </div>
  </div>
  <div class="row mt-1">
    <div  class="col-12">
      {{ "Name" | translate}}: {{user.name}}
    </div>
  </div>

  <div *ngIf="CanChangeRole" class="row mt-6">
    <div class="col-12">
      <div class="form-check form-check-inline ">
        <input type="radio" class="form-check-input"
               name="selectRole"
               id="fhiAdmin"
               [(ngModel)]="selectedRole"
               value="Administrator" />
        <label  class="form-check-label" for="fhiAdmin">{{ "Administrator" | translate}}</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input"
               name="selectRole"
               id="coordinator"
               [(ngModel)]="selectedRole"
               value="Coordinator" />
        <label  class="form-check-label" for="coordinator">{{ "Coordinator" | translate}}</label>
      </div>
      <a  class="btn fhi-btn-primary ml-2" (click)="changeRole()">{{ "Change role" | translate}}</a>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-12">
      <a  class="btn fhi-btn-primary" (click)="logout()">{{"Log out" | translate }}</a>
    </div>
  </div>

</div>


