<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-12">
      <h2> <fa-icon [icon]="faUser"></fa-icon> Profile</h2>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      Name: {{user.name}}
    </div>
  </div>
  <div class="row mt-1" *ngIf="user.hprNumber">
    <div class="col-12">
      HPR-number: {{user.hprNumber}}
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      Identity-pseudonym: {{user.identityPseudonym}}
    </div>
  </div>

  <div *ngIf="CanChangeRole" class="row mt-6">
    <div class="col-12">
      <div class="form-check form-check-inline ">
        <input type="radio" class="form-check-input"
               name="selectRole"
               id="fhiAdmin"
               [(ngModel)]="selectedRole"
               value="Administrator" />
        <label class="form-check-label" for="fhiAdmin">Administrator</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input"
               name="selectRole"
               id="coordinator"
               [(ngModel)]="selectedRole"
               value="Coordinator" />
        <label class="form-check-label" for="coordinator">Coordinator</label>
      </div>
      <a class="btn fhi-btn-primary ml-2" (click)="changeRole()">Change role</a>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <a href="https://www.fhi.no/nettpub/nost/generelt-om-losningen2/personvernerklaring-for-nost/" target="_blank">Open the privacy policy</a>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <a class="btn fhi-btn-primary">Log out</a>
    </div>
  </div>

</div>


