<div class="container">

  <div class="row mb-3">
    <div class="col-md-4">
      <button class="btn fhi-btn-primary mt-1 w-100" [disabled]="showCreateDepartmentForm" (click)="toggleShowForm()">{{"Create Department" | translate }}</button>
    </div>
  </div>
  <div *ngIf="showCreateDepartmentForm">
    <app-create-department (departmentCreatedEvent)="getDepartments()" [facilityId]="facilityId" [departments]="filteredDepartments" (resetFormEvent)="toggleShowForm()" *ngIf="canCreate()"></app-create-department>
  </div>
  <div class="row mb-5 mt-5" *ngIf="departments?.length > 0">
    <input type="text" autocomplete="off" [placeholder]="'Search' | translate" autofocus="" class="form-control fhi-form__form-control m-3" style="width: 350px;" [(ngModel)]="keyword" (ngModelChange)="filterDepartments()">
  
    <ng-container>
      <div class="table-responsive">
        <table class="table" sortable-table (sorted)="sort($event)">
          <thead>
            <tr>
              <th [sortable-column]="'Name' | translate"></th>
              <th [sortable-column]="'Department Type' | translate"></th>
              <th>{{"Roles" | translate }}</th>
              <th class="text-end" *ngIf="canEdit">{{"Action" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let department of filteredDepartments">
              <ng-container *ngIf="!canEdit && departmentAsChanged?.id !== department.id">
                <td>{{department.name}}</td>
                <td>{{department.departmentType.name}}</td>
                <td>{{getRoleDescriptions(department)}}</td>
              </ng-container>
              <ng-container>
                <ng-container *ngIf="canEdit && departmentAsChanged?.id !== department.id">
                  <td>{{department.name}}</td>
                  <td>{{department.departmentType.name}}</td>
                  <td>{{getRoleDescriptions(department)}}</td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" (click)="setDepartmentAsChanged(department)">
                      <i class="icon-pencil"></i><span class="btn__text">{{"Edit" | translate }}</span>
                    </button>
                  </td>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="canEdit && departmentAsChanged?.id === department.id">
                <td><input type="text" autocomplete="off" (keypress)="omitSpecialChar($event)" class="form-control" [(ngModel)]="departmentAsChanged.name" (ngModelChange)="departmentAsChanged.name = sanitizeDepartmentName($event)"></td>
                <td>
                  <select class="form-control" id="departmenttype" [(ngModel)]="departmentAsChanged.departmentTypeId">
                    <option value="0">{{"Not selected" | translate}}</option>
                    <option *ngFor="let type of departmentTypes" [ngValue]="type.id" [selected]="departmentAsChanged.departmentTypeId == type.id">{{type.name}}</option>
                  </select>
                </td>
                <td>
                  <ng-multiselect-dropdown [placeholder]="'Select' | translate"
                                           [settings]="dropdownSettings"
                                           [data]="roles"
                                           [(ngModel)]="selectedRoles">
                  </ng-multiselect-dropdown>
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon mr-2" style="width: 100%;"
                                (click)="updateDepartment(departmentAsChanged)"
                                [disabled]="!canBeSaved()">
                    <i class="icon-pencil"></i><span class="btn__text">{{"Save" | translate }}</span>
                  </button>
                  <button class="my-2 btn fhi-btn-icon" style="width: 100%;" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">{{"Cancel" | translate }}</span>
                  </button>
                    <app-confirmation-dialog
                      [buttonClass]="'my-2 btn fhi-btn-icon'"
                      [buttonText]="'Delete' | translate"
                      [shouldUseIcon] = true
                      (confirmEvent)="deleteDepartment(departmentAsChanged)"
                      [dialogMessage]="'By continuing, the department and all data will be deleted. Do you want to continue?' | translate">
                    </app-confirmation-dialog>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    
  </div>
  <div class="row m-3" *ngIf="!loading && departments?.length == 0">
    <div class="col-12">
      <p>{{"There are no departments registered at this facility." | translate}}</p>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <app-spinner class="col-12">{{"Loading departments" | translate}}</app-spinner>
  </div>
</div>





