<div class="container" *ngIf="institutionId == 0">
  <div class="row">
    <h3>Maintenance of institutions</h3>
  </div>
  <app-create-institution (institutionCreatedEvent)="getInstitutions()"></app-create-institution>

  <div class="row">
    <div class="col-12">
      <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <h5>Search for institution</h5>
            <input type="text" placeholder="institution type" autofocus="" class="form-control fhi-form__form-control mt-1" [(ngModel)]="keyword" (ngModelChange)="filterInstitutions()">
        </div>
        <div class="col-md-3">
            <h5>Search for institution on person</h5>
            <input type="text" placeholder="Name on coordinator, observer" autofocus="" class="form-control fhi-form__form-control mt-1" [(ngModel)]="keywordPerson" (ngModelChange)="filterPersonsAtinstitutions()">
        </div>
      </div>
    </div>
  </div>
    <ng-container>
      <div class="table-responsive">
        <table class="table mt-3" sortable-table (sorted)="sort($event)">
          <thead>
            <tr>
              <td>HER-id</td>
              <td sortable-column="Name"></td>
              <td>Abbreviation</td>
              <td sortable-column="Institution Type"></td>
              <td>HealthCare Organization / Municipality</td>
              <td class="text-center" scope="col">Action</td>
            </tr>
    
          </thead>
          <tbody>
            <tr *ngFor="let institution of filteredInstitutions">
              <td>{{institution.herId}}</td>
              <td>{{institution.name}}</td>
              <td>{{institution.abbreviation}}</td>
              <td>{{institution.institutionType?.name}}</td>
              <td>{{ institution.healthcareOrganization?.name || institution.municipality?.name }}</td>
              <td class="text-end py-2 align-middle">
                <button class="btn fhi-btn-icon" (click)="navigateToInstitution(institution.id)">
                    <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

  
  <div class="row">
    <app-spinner class="col-12" *ngIf="institutions?.length == 0">Loading institutions</app-spinner>
  </div>

</div>
<ng-container *ngIf="institutionId > 0">
  <app-edit-an-institution [institutionId]="institutionId" (institutionDeletedEvent)="deleteInstitution($event)" (institutionUpdatedEvent)="updateInstitution($event)"></app-edit-an-institution>
</ng-container>

