<div class="container" *ngIf="institutionId == 0">
  <div class="row">
    <h3>Vedlikehold av institutions</h3>
  </div>
  <app-opprett-institusjon (institusjonOpprettetEvent)="getInstitutions()"></app-opprett-institusjon>

  <div class="row">
    <div class="col-12">
      <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <h5>Search etter institusjon</h5>
            <input type="text" placeholder="Navn, institusjontype" autofocus="" class="form-control fhi-form__form-control mt-1" [(ngModel)]="sokeord" (ngModelChange)="filtrerInstitusjoner()">
        </div>
        <div class="col-md-3">
            <h5>Search etter institusjon på person</h5>
            <input type="text" placeholder="Navn på koordinator, observer" autofocus="" class="form-control fhi-form__form-control mt-1" [(ngModel)]="sokeordPerson" (ngModelChange)="filtrerPersonerPaaInstitusjoner()">
        </div>
      </div>
    </div>
  </div>
    <ng-container>
      <div class="table-responsive">
        <table class="table mt-3" sortable-table (sorted)="sort($event)">
          <thead>
            <tr>
              <td>HER-id</td>
              <td sortable-column="Navn"></td>
              <td>Forkortelse</td>
              <td sortable-column="Institusjonstype"></td>
              <td>HealthcareOrganisation/Municipality</td>
              <td class="text-end" scope="col">Action</td>
            </tr>
    
          </thead>
          <tbody>
            <tr *ngFor="let institusjon of filtrertInstitusjoner">
              <td>{{institusjon.herId}}</td>
              <td>{{institusjon.name}}</td>
              <td>{{institusjon.forkortelse}}</td>
              <td>{{institusjon.institusjontype?.name}}</td>
              <td>{{ institusjon.helseforetak?.name || institusjon.kommune?.name }}</td>
              <td class="text-end py-2 align-middle">
                <button class="btn fhi-btn-icon" (click)="navigerTilInstitusjon(institusjon.id)">
                    <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

  
  <div class="row">
    <app-spinner class="col-12" *ngIf="institutions?.length == 0">Laster institutions</app-spinner>
  </div>

</div>
<ng-container *ngIf="institutionId > 0">
  <app-rediger-en-institusjon [institutionId]="institutionId" (institusjonSlettetEvent)="deleteInstitution($event)" (institusjonOppdatertEvent)="updateInstitution($event)"></app-rediger-en-institusjon>
</ng-container>

