<div>
  <div class="row ms-1">
    <div class="col">
      <h5>Roller</h5>
    </div>
  </div>
  <div class="row ms-1">
    <div class="col-3">
      <input type="text" class="form-control" [(ngModel)]='nyRolle.name' placeholder="Name">
    </div>
    <div class="col-7">
      <input type="text" class="form-control" [(ngModel)]='nyRolle.description' placeholder="Beskrivelse">
    </div>
    <div class="col-2">
      <label></label>
      <button class="form-control btn fhi-btn-primary" (click)="createRole()" [disabled]="!nyRolle.name">Legg til</button>
    </div>
  </div>

  <div class="col-12 m-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Beskrivelse</th>
              <th class="text-end" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rolle of roles">
              <ng-container *ngIf="rolleSomEndres?.id !== rolle.id">
                <td>{{rolle.name}}</td>
                <td>{{rolle.description}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="selectedRole(rolle)">
                    <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="rolleSomEndres?.id === rolle.id">
                <td>{{rolleSomEndres.name}}</td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="rolleSomEndres.description">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="updateRole(rolleSomEndres)">
                    <i class="icon-pencil"></i><span class="btn__text">Save</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">Cancel</span>
                  </button>
                </td>
              </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
<div class="row">
  <app-spinner class="col-12" *ngIf="roles?.length == 0">Laster roles</app-spinner>
</div>
