<div class="container">
  <div class="container">

    <div class="row">
      <div class="col-12 col-lg-9 mb-5">
        <h5>{{"Predefined comments" | translate }}</h5>
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-7">
              <input type="text" autocomplete="off" class="form-control" [(ngModel)]='newPredefinedComment.comment' (ngModelChange)="newPredefinedComment.comment = $event.trim()" [placeholder]="'Comment' | translate">
            </div>
            <div class="col-6 col-md-5">
              <button class="btn fhi-btn-primary" (click)="createPredefinedComment()" [disabled]="!newPredefinedComment.comment">{{"Add to comment" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5" *ngIf="!loading && predefinedComments?.length > 0">
      <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <th>{{"Comment" | translate }}</th>
              <th class="text-end">{{"Action" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let predefinedComment of predefinedComments">
              <ng-container *ngIf="predefinedCommentAsChanged?.id !== predefinedComment.id">
                <td class="col-8">{{predefinedComment.comment}}</td>
                <td class="text-end">
                  <button class="btn fhi-btn-icon" (click)="selectedPredefinedComment(predefinedComment)">
                    <i class="icon-pencil"></i><span class="btn__text">{{"Edit" | translate }}</span>
                  </button>
              </ng-container>
              <ng-container *ngIf="predefinedCommentAsChanged?.id === predefinedComment.id">
                <td class="col-8">
                  <input type="text" autocomplete="off" class="form-control" [(ngModel)]="predefinedCommentAsChanged.comment" (ngModelChange)="predefinedCommentAsChanged.comment = $event.trim()">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon"
                          (click)="updatePredefinedComment(predefinedCommentAsChanged)"
                          [disabled]="!predefinedCommentAsChanged.comment">
                    <i class="icon-pencil"></i><span class="btn__text">{{"Save" | translate }}</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">{{"Cancel" | translate }}</span>
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" *ngIf="!loading && predefinedComments?.length == 0">
      <div class="col-12">
        <p>{{"No predefined comments have been registered at this healthcare facility." | translate }}</p>
      </div>
    </div>
    <div class="row" *ngIf="loading">
      <app-spinner class="col-12">{{"Loading predefined comments" | translate }}</app-spinner>
    </div>
  </div>
</div>
