<div class="container">
  <ng-container *ngIf="institusjonRapport else spinner ">
    <div class="row">
      <h3>Maintenance of coordinators</h3>
    </div>
    <div *ngIf="!institusjonRapport.helseforetak">
      <app-edit-coordinators [institutionId]="institusjonRapport.id"></app-edit-coordinators>
    </div>
    <div *ngIf="institusjonRapport.helseforetak">
      <app-edit-coordinators-for-helseforetak [institution]="institusjonRapport"></app-edit-coordinators-for-helseforetak>
    </div>
  </ng-container>
  <ng-template #spinner>
    <div class="row">
      <app-spinner class="col-12"></app-spinner>
    </div>
  </ng-template>
</div>
