<div class="container">
  <ng-container *ngIf="koordinatorer else spinner ">
    <div class="row">
      <div class="col-12">
        <button class="btn fhi-btn-primary mb-5" (click)="opprettTomKoordinator()">Create koordinator</button>
      </div>
    </div>
    <div class="row" *ngIf="koordinatorer">
      <h5 class="col-12">Koordinatorer</h5>
      <input type="text" placeholder="Søk etter.." autofocus="" class="form-control fhi-form__form-control my-3 ms-3" style="width: 350px;" [(ngModel)]="sokeord" (ngModelChange)="filtrerKoordinatorer()">
      <label class="col-12" *ngIf="koordinatorer.length === 0 && !nyKoordinator">Did not find any koordinatorer på denne institusjonen</label>
      <ng-container>
        <table class="table" *ngIf="koordinatorer.length > 0 || nyKoordinator" sortable-table (sorted)="sort($event)">
          <thead>
            <tr>
              <th sortable-column="Firstname"></th>
              <th sortable-column="Lastname"></th>
              <th>Epost</th>
              <th>HPR-nummer</th>
              <th>Pseudonym</th>
              <th>Disabled</th>
              <th>Institusjoner</th>
              <th class="text-end" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngIf="nyKoordinator != null">
              <td><input type="text" class="form-control" [(ngModel)]="nyKoordinator.firstName" name="firstName" placeholder="Firstname"></td>
              <td><input type="text" class="form-control" [(ngModel)]="nyKoordinator.lastName" name="lastName" placeholder="Lastname"></td>
              <td><input type="text" class="form-control" [(ngModel)]="nyKoordinator.email" name="email" placeholder="Epost"></td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="nyKoordinator.hprNummer" name="hprNummer" placeholder="HPR-nummer" [maxLength]="2147483647">
                <app-search-hprnumber-link></app-search-hprnumber-link>
              </td>
              <td><input type="text" class="form-control" [(ngModel)]="nyKoordinator.identityPseudonym" name="identityPseudonym" placeholder="Pseudonym"></td>
              <td></td>
              <td>
                <ng-multiselect-dropdown [placeholder]="'Velg'"
                                         [settings]="dropdownSettings"
                                         [data]="institusjonerIHelseforetak"
                                         [(ngModel)]="valgteInstitusjoner">
                </ng-multiselect-dropdown>
              </td>
              <td class="text-end py-2 align-middle">
                <button class="btn fhi-btn-icon" [disabled]="canCreate() == false" (click)="createCoordinator()">
                  <i class="icon-plus"></i><span class="btn__text">Create</span>
                </button>
                <button class="my-2 btn fhi-btn-icon" (click)="cancelEdit($event)">
                  <i class="icon-x"></i><span class="btn__text">Cancel</span>
                </button>
              </td>
            </tr>

            <tr *ngFor="let koordinator of filtrertKoordinatorer">
              
              <ng-container *ngIf="!erKoordinatorSomEndres(koordinator)">
                <td>{{koordinator.firstName}}</td>
                <td>{{koordinator.lastName}} </td>
                <td>{{koordinator.email}}</td>
                <td>{{koordinator.hprNummer}}</td>
                <td>
                  <app-pseudonym-dialog [text]="'Vis'" [identityPseudonym]="koordinator.identityPseudonym"></app-pseudonym-dialog>
                </td>
                <td>
                  <input type="checkbox" class="form-check-input" [(ngModel)]="koordinator.isDisabled" name="isDisabled" disabled="disabled">
                </td>
                <td>
                  {{visInstitusjonerForKoordinator(koordinator)}}
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="setKoordinatorSomEndres(koordinator)">
                    <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                  </button>
                </td>

              </ng-container>
              <ng-container *ngIf="erKoordinatorSomEndres(koordinator)">
                <td><input type="text" class="form-control" [(ngModel)]="koordinatorSomEndres.firstName" name="firstName" placeholder="Firstname"></td>
                <td><input type="text" class="form-control" [(ngModel)]="koordinatorSomEndres.lastName" name="lastName" placeholder="Lastname"></td>
                <td><input type="text" class="form-control" [(ngModel)]="koordinatorSomEndres.email" name="email" placeholder="Epost"></td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="koordinatorSomEndres.endretHPRNummer" name="hprNummer" placeholder="HPR-nummer" [maxLength]="2147483647">
                  <app-search-hprnumber-link></app-search-hprnumber-link>
                </td>
                <td>
                  <app-pseudonym-dialog [text]="'Endre'"
                                        [editable]="true"
                                        [identityPseudonym]="koordinator.endretIdentPseudonym"
                                        (identityPseudonymChanged)="identPseudonymEndret(koordinatorSomEndres, $event)">
                  </app-pseudonym-dialog>
                </td>
                <td><input type="checkbox" class="form-check-input" [(ngModel)]="koordinatorSomEndres.isDisabled" name="isDisabled"></td>
                <td>      
                  <ng-multiselect-dropdown [placeholder]="'Velg'"
                                           [settings]="dropdownSettings"
                                           [data]="institusjonerIHelseforetak"
                                           [(ngModel)]="valgteInstitusjoner">
                  </ng-multiselect-dropdown>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon"
                          (click)="updateCoordinator(koordinatorSomEndres)"
                          [disabled]="canChange(koordinatorSomEndres) == false">
                          <i class="icon-pencil"></i><span class="btn__text">Save</span>
                  </button>
                  <button class="my-2 btn fhi-btn-icon" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">Cancel</span>
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #spinner>
    <div class="row">
      <app-spinner class="col-12"></app-spinner>
    </div>
  </ng-template>
</div>
