<div class="container">
  <div class="form-row mb-3">
    <div class="form-check form-check-inline ml-0">
      <input type="radio" class="form-check-input"
              id="visVenterPaGodkjenning"
              name="visStatus" checked
              (click)="lastForesporslerSomVenterPaGodkjenning()"/>
      <label class="form-check-label" for="visVenterPaGodkjenning">Venter på godkjenning</label>
      </div>
    <div class="form-check form-check-inline">
      <input type="radio" class="form-check-input"
              id="visAlle"
              name="visStatus"
              (click)="lastAlleForesporsler()"/>
      <label class="form-check-label" for="visAlle">Vis alle</label>
    </div>
  </div>
  <div class="row" *ngIf="requests">
    <h5 class="col-12">Forespørsler om brukertilgang</h5>
    <label class="col-12 mt-3" *ngIf="requests.length === 0">Did not find any forespørsler</label>
    <ng-container>
      <div class="table-responsive">
        <table class="table" *ngIf="requests.length > 0">
          <thead>
            <tr>
              <td scope="col">Firstname</td>
              <td scope="col">Lastname</td>
              <td scope="col">Mottatt</td>
              <td class="text-end" scope="col">Action</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of requests">
              <td>{{request.brukerFornavn}}</td>
              <td>{{request.brukerEtternavn}} </td>
              <td>{{request.timeOfCreation | date:'dd.MM.yyyy HH:mm'}}</td>
              <td class="text-end py-2 align-middle">
                <div *ngIf="request.status == foresporselStatus.Registrert">
                  <button class="btn fhi-btn-icon mx-2" (click)="godkjennForesporsel(request.id)">
                    <i class="icon-check"></i><span class="btn__text">Godkjenn</span>
                  </button>
                  <button class="btn fhi-btn-icon mx-2" (click)="avvisForesporsel(request.id)">
                    <i class="icon-x"></i><span class="btn__text">Avvis</span>
                  </button>
                </div>
                <div *ngIf="request.status == foresporselStatus.GodKjent" >Forespørsel er godkjent</div>
                <div *ngIf="request.status == foresporselStatus.Avvist" >Forespørsel er avvist</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </ng-container>
  </div>
</div>
