<div class="container">
  <app-observation-counter [sessionsdata]="sessionsdata" [url]="Urls.HandsmykkeSesjonUrl"></app-observation-counter>
  <h1 class="h3 mt-n4 mt-xl-0">Smykker, klokker og negler</h1>
</div>

<div class="container" *ngIf="sessionView.sessionId != null && sessionView.card != null && sessionView.card.length > 0">
  <ng-container *ngFor="let card of sessionView.card">
    <app-handsmykker-observasjonskort (observationRegister)="registerObservation($event)"
                                      (sessionViewUpdate)="updateSessionView($event)"
                                      (cardIsSelectedEvent)="cardIsSelected($event)"
                                      [card]="card"
                                      [sessionView]="sessionView"
                                      [roleSelected]="roles">
    </app-handsmykker-observasjonskort>
  </ng-container>
</div>

<app-nytt-kort-info [showEmptyForShortText]="showEmptyForShortText"></app-nytt-kort-info>

<app-nytt-kort-modal [roles]="roles" (onClose)="onCloseNewCardModal($event)" (onDismiss)="onDismissNewShortModal($event)">
</app-nytt-kort-modal>

<app-help-text [title]="'Tips og triks - observere håndsmykker'">
  <p>
    Du kan nå observere på de profesjonene du valgte på <b>Start observation</b>-siden, bytte profesjon på det enkelte card ved å klikke på rullegardinen eller legge til nye profesjoner ved å klikke på <b>Nytt card</b>-knappen nede til høyre.

    Du registrerer håndsmykker ved å klikke på ikonene i kortet.
    </p>
  <p>
    Følgende krav oppfyller en gyldig observation:
  </p>
  <p>
    <b>Enten</b>
  </p>
  <ol>
    <li>Alt OK (Ingen smykker, klokker eller lange/påsatte negler)</li>
  </ol>
  <p>
    <b>Eller</b>
  </p>
  <ol>
    <li>Minst ett observert avvik </li>
  </ol>
  <p>
    Når du er ferdig kan du dra kortet mot høyre for å lagre observasjonen.
    Hvis du har registrert noe feil så må du trykke på "Empty card" - da vil kortet nullstille seg.
    Hvis du ønsker å ta bort et card fra listen kan du dra kortet mot venstre.
  </p>
</app-help-text>
