<div class="container">
  <div class="container">

    <div class="row">
      <div class="col-12 col-lg-8 mb-5">
        <h5>Predefinert kommentarer</h5>
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-8">
              <input type="text" class="form-control" [(ngModel)]='nyPredefinertKommentar.kommentar' placeholder="Kommentar">
            </div>
            <div class="col-6 col-md-4">
              <label></label>
              <button class="btn fhi-btn-primary" (click)="opprettPredefinertKommentar()" [disabled]="!nyPredefinertKommentar.kommentar">Add to kommentar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5" *ngIf="!loading && predefinertKommentarer?.length > 0">
      <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <td>Kommentar</td>
              <td class="text-end">Action</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let predefinertKommentar of predefinertKommentarer">
              <ng-container *ngIf="predefinertKommentarSomEndres?.id !== predefinertKommentar.id">
                <td class="col-8">{{predefinertKommentar.kommentar}}</td>
                <td class="text-end">
                  <button class="btn fhi-btn-icon" (click)="valgtPredefinertKommentar(predefinertKommentar)">
                    <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                  </button>
              </ng-container>
              <ng-container *ngIf="predefinertKommentarSomEndres?.id === predefinertKommentar.id">
                <td class="col-8">
                  <input type="text" class="form-control" [(ngModel)]="predefinertKommentarSomEndres.kommentar">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon"
                          (click)="oppdaterPredefinertKommentar(predefinertKommentarSomEndres)"
                          [disabled]="!predefinertKommentarSomEndres.kommentar">
                    <i class="icon-pencil"></i><span class="btn__text">Save</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">Cancel</span>
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" *ngIf="!loading && predefinertKommentarer?.length == 0">
      <div class="col-12">
        <p>Det er ikke registrert noen predefinerte kommentarer at this institution.</p>
      </div>
    </div>
    <div class="row" *ngIf="loading">
      <app-spinner class="col-12">Loading predefinert kommentarer</app-spinner>
    </div>
  </div>
</div>
