<div class="hh-card-slider">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between" *ngIf="!isReadonly">
      <div class="mb-3">
        <button *ngIf="!isEditMode" class="btn fhi-btn-icon" (click)="isEditMode = true">
          <i class="icon-pencil"></i>
          Edit
        </button>
        <button *ngIf="isEditMode" class="btn fhi-btn-icon" (click)="saveObservation()">
          <i class="icon-check-circle"></i>
          Save
        </button>
      </div>
      
      <div class="mb-3">
        <app-delete-confirmation-dialog [isBlackColor]="false" (deletedEvent)="deleteObservation()"
                                      [dialogMessage]="DialogueTexts.ObservationDeleteConfirmation">
          <i class="icon-trash3"></i> Delete
        </app-delete-confirmation-dialog>
      </div>
    </div>
    <div class="hh-card-slider__card"
         [ngClass]="{ 'hh-card-slider__card--active': isEditMode || isReadonly }"
         [ngStyle]="(isEditMode || isReadonly) && {'background-color': Colors.getFhiColorHexFromText(observation.role.name)}">
      <div class="row" *ngIf="isEditMode">
        <div class="col-12" *ngIf="observation.role?.id && observation.role.id > 0">
          <app-role-selection-dropdown [roleId]="observation.role.id"
                                   [isReadonly]="isReadonly"
                                   [roleSelectedI]="department.roles"
                                   (roleSelectedEvent)="roleSelected($event)">
          </app-role-selection-dropdown>
        </div>
      </div>
      <div class="row text-break">
        <div class="col">
          <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs nav-justified hh-hanske-tabs">
            <li ngbNavItem="with" [disabled]="observation.gloveWithoutIndicationTypes?.length">
              <a ngbNavLink class="hh-hanske-tabs__tab">Gloves with indication</a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="table table-sm w-100 mt-3">
                    <tbody>
                      <tr *ngFor="let type of gloveWithIndicationTypes">
                        <td class="hh-hanske-tabs__label-td">
                          <label class="form-check-label" [for]="type.code">
                            <fa-icon [icon]="faHandPaper" class="fa-2x me-2"></fa-icon>
                            <strong>{{type.name}}</strong>
                          </label>
                        </td>
                        <td class="text-end">
                          <label ngbButtonLabel>
                            <input type="checkbox" ngbButton
                                   class="visually-hidden"
                                   [disabled]="isReadonly || !isEditMode"
                                   [(ngModel)]="type.isSelected">
                            <i class="icon-check icon-lg" *ngIf="type.isSelected"></i>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td class="hh-hanske-tabs__label-td" colspan="2">
                          <div class="d-flex">
                            <strong class="pt-2" id="gloveIsUsedHeading">Gloves used?</strong>

                            <div class="ms-auto">
                              <div class="btn-group fhi-btn-group" role="group" aria-labelledby="gloveIsUsedHeading">
                                <input type="radio" class="btn-check fhi-btn-group__check" name="glovesUsed-{{uuid}}" id="glovesUsed1-{{uuid}}" [disabled]="isReadonly || !isEditMode" [value]="true" [(ngModel)]="glovesUsed"/>
                                <label class="btn fhi-btn-group__btn" for="glovesUsed1-{{uuid}}">Yes</label>
                                
                                <input type="radio" class="btn-check fhi-btn-group__check" name="glovesUsed-{{uuid}}" id="glovesUsed2-{{uuid}}" [disabled]="isReadonly || !isEditMode" [value]="false" [(ngModel)]="glovesUsed" />
                                <label class="btn fhi-btn-group__btn" for="glovesUsed2-{{uuid}}">No</label>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </li>
            <li ngbNavItem="without" [disabled]="observation.gloveWithIndicationTypes?.length">
              <a ngbNavLink class="hh-hanske-tabs__tab">Glove without indication</a>
              <ng-template ngbNavContent>
                <div class="table-responsive">
                  <table class="table table-sm w-100 mt-3">
                    <tbody>
                      <tr *ngFor="let type of gloveWithoutIndicationTypes">
                        <td class="hh-hanske-tabs__label-td">
                          <label class="form-check-label" [for]="type.code">
                            <fa-icon [icon]="faHandPaper" class="fa-2x me-2"></fa-icon>
                            <strong>{{type.name}}</strong>
                          </label>
                        </td>
                        <td class="text-end">
                          <label ngbButtonLabel>
                            <input type="checkbox" ngbButton
                                    class="visually-hidden"
                                    [disabled]="isReadonly || !isEditMode"
                                    [(ngModel)]="type.isSelected">
                            <i class="icon-check icon-lg" *ngIf="type.isSelected"></i>
                          </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2 w-100"></div>
          <div class="w-100" *ngIf="glovesUsed">
            <h2 class="h5">Hand hygiene after wearing gloves?</h2>
            <div class="btn-group btn-group-vertical btn-group-toggle d-flex">
              <div class="d-flex justify-content-center" *ngFor="let type of postGloveHandHygieneTypes">
                <input type="radio" class="btn-check fhi-btn-group__check ms-1" id="btnradio-{{type.name}}" [disabled]="isReadonly || !isEditMode" [value]="type.code" [(ngModel)]="selectedHygieneAfterGloveUse" />
                <label class="btn fhi-btn-group__btn" for="btnradio-{{type.name}}">{{type.name}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex flex-row justify-content-around">
            <ng-container *ngIf="isEditMode">
              <app-register-comment [disabled]="isReadonly"
                                       [commentInput]="observation.comment"
                                       [facilityid]="facilityid"
                                       [sessiontype]="gloveSessionType"
                                       (commentRegisteredEvent)="registerComment($event)">
              </app-register-comment>
            </ng-container>
            <ng-container *ngIf="!isEditMode && observation.comment">
              <label><small>Comment: <strong data-hj-suppress>{{observation.comment}}</strong></small></label>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-info-modal [modalText]="observationMissingText" [showInfoModal]="showInfoModal" (closeInfoModalEvent)="closeInfoModal($event)"></app-info-modal>
