<div class="hh-registrer-aktivitet" [ngClass]="{'hh-registrer-aktivitet--registrert': isRegistered }">
  <span *ngIf="timingExecuted" class="hh-registrer-aktivitet__circle" [ngStyle]="{'transform':'rotate('+(138+(6 * (this.seconds % 60)))+'deg)'}"> </span>
  <button class="hh-transparent-button hh-transparent-button--large hh-transparent-button--wide" style="z-index: 2; position: relative"
          [disabled]="disabled"
          (click)="registerActivity(modal)">
    <fa-icon [icon]="icon" class="hh-vertical-stadium-buttons__icon" [ngStyle]="{'color': (this.activityType?.code === activityTypeConstants.NotPerformed && isRegistered) ? '#e0271a' : '' }"></fa-icon>
    <span class="form-check-label" style="line-height: 45%" *ngIf="showText || seconds === 0">
      <small><strong>{{getActivityText()}}</strong></small>
    </span>
    <small class="hh-registrer-aktivitet__sekunder-brukt" *ngIf="(timingExecuted || isRegistered) && seconds > 0">
      <strong>{{seconds}}s</strong>
    </small>
  </button>
</div>


<ng-template #modal let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close')">
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <p class="font-weight-bold">Were gloves used??</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" role="group">
      <button type="button" class="btn fhi-btn-secondary" (click)="modal.close('Yes'); confirmRegistration(true)">Yes</button>
      <button type="button" class="btn fhi-btn-secondary" (click)="modal.close('No'); confirmRegistration(false)">No</button>
    </div>
  </div>
</ng-template>
