<div class="row" *ngIf="newInstitution">
  <div class="col-12">
    <div class="row mb-1">
      <div class="col-md-6">
        <label for="institutionname" class="mb-1">Name</label>
        <input type="text" autocomplete="off" id="institutionname" class="form-control" placeholder="e.g. Oslo University Hospital HF" (keypress)="omitSpecialChar($event)" [(ngModel)]="newInstitution.institutionName">
      </div>
      <div class="col-md-2">
        <label for="abbreviation" class="mb-1">Short Name</label>
        <input type="text" autocomplete="off" id="abbreviation" class="form-control" placeholder="e.g. OUS" (keypress)="omitSpecialChar($event)" [(ngModel)]="newInstitution.abbreviation">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="institutiontype" class="mb-1">Institution Type</label>
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [items]="institutionTypes"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="newInstitution.institutionTypeId"
          (ngModelChange)="showHealthcareOrRegion(newInstitution.institutionTypeId)"
          >
        </ng-select>
      </div>
      <div class="col-md-6" *ngIf="showMunicipality">
        <label for="municipality" class="mb-1">Municipality</label>
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [items]="municipalities"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="newInstitution.municipalityId"
          >
        </ng-select>
      </div>
      <div class="col-md-6" *ngIf="showHealthcareOrganization">
        <label for="healthcareorganization" class="mb-1">Healthcare Organization</label>
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [items]="listOfHealthcareOrganizations"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="newInstitution.healthcareOrganizationId"
          >
        </ng-select>
      </div>
    </div>
    <div class="row mb-2">
      <h5 class="col-12">Coordinator</h5>
      <div class="col-md-3">
        <label for="coordinatorfirstname" class="mb-1">First Name</label>
        <input type="text" autocomplete="off" id="coordinatorfirstname" class="form-control" (keypress)="omitSpecialChar($event)" [(ngModel)]="newInstitution.coordinatorFirstName">
      </div>
      <div class="col-md-3">
        <label for="coordinatorLastname" class="mb-1">Last Name</label>
        <input type="text" autocomplete="off" id="coordinatorlastname" class="form-control" (keypress)="omitSpecialChar($event)" [(ngModel)]="newInstitution.coordinatorLastName">
      </div>
      <div class="col-md-4">
        <label for="coordinatorEmail" class="mb-1">Email</label>
        <input type="email" id="coordinatorEmail" class="form-control" [(ngModel)]="newInstitution.coordinatorEmail" (keypress)="mailValidatorHelper.validateMailCharacters($event)" [maxlength]="2147483647">
      </div>
      <!-- <div class="col-md-2">
        <label for="coordinatorhprnumber" class="mb-1">HPR-number</label>
        <input type="text" autocomplete="off" id="coordinatorhprnumber" class="form-control" [(ngModel)]="newInstitution.coordinatorHPRNumber" [maxlength]="2147483647">
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-3">
        <button class="btn fhi-btn-primary mt-1 w-100" [disabled]="canNotCreateInstitution()" (click)="createInstitution()">Create institution</button>
      </div>
    </div>

  </div>
