<ng-container>
  <div class="table-responsive">
    <table class="table mb-0">
      <thead>
      <tr>
        <th class="col-2">Role</th>
        <th class="col-2">Indikasjoner</th>
        <th class="col-2">Aktivitet</th>
        <th class="col-1">Sekunder brukt</th>
        <th class="col-1">Hanske benyttet</th>
        <th class="col-2">Registrert</th>
        <th class="col-2">Kommentar</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let observation of observations">
          <ng-container *ngIf="fourIndicationsObservationSomEndres === null || fourIndicationsObservationSomEndres.id !== observation.id">
            <tr (click)="velgObservasjon(observation)">
              <td class="col-2">{{observation.rolle.name}}</td>
              <td class="col-2">
                <ul style="padding-left: 20px;">
                  <li *ngFor="let indikasjon of observation.indicationTypes">
                    {{indikasjon.name}}
                  </li>
                </ul>
              </td>
              <td class="col-2">{{observation.activity.activityType.name}}</td>
              <td class="col-1">{{observation.activity.tidtakingBleUtfort && observation.activity.sekunderBrukt > 0 ? observation.activity.sekunderBrukt + ' sekund(er)' : '-' }}</td>
              <td class="col-1">{{observation.activity.benyttetHanske === null ? '-' : observation.activity.benyttetHanske ? "Ja" : "Nei"}}</td>
              <td class="col-2">{{observation.registrerttidspunkt | date:'dd.MM.yyyy HH:mm' }}</td>
              <td class="col-2">{{observation.kommentar}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="fourIndicationsObservationSomEndres !== null && fourIndicationsObservationSomEndres.id === observation.id">
            <tr>
              <td colspan="12">
                <i>ID: {{observation.id}}</i>
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td colspan="7" class="col-12">
                <div class="row">
                  <div class="col-2">
                    <app-rolle-valg-dropdown [rolleId]="fourIndicationsObservationSomEndres.rolle.id" [avdelingId]="avdeling.id" (rolleValgt)="velgRolle($event)"></app-rolle-valg-dropdown>
                  </div>
                  <div class="col-2">
                    <app-indikasjonsvalg [valgteIndikasjoner]="fourIndicationsObservationSomEndres.indicationTypes"
                                         (indikasjonsValgChangedEvent)="indikasjonsValgChanged($event)"
                                         [parentId]="fourIndicationsObservationSomEndres.id">
                    </app-indikasjonsvalg>
                  </div>
                  <div class="col-2">
                    <app-activity-valg-dropdown [activityTypeId]="fourIndicationsObservationSomEndres.activity.activityType.id" (activityTypeValgt)="velgAktivitet($event)"></app-activity-valg-dropdown>
                  </div>
                  <div class="col-1">
                    <input type="number" [min]="0"  style="width: 3rem;"
                           [(ngModel)]="fourIndicationsObservationSomEndres.activity.sekunderBrukt"
                           (ngModelChange)="endretSekunderBrukt($event)"/>
                    <i>Tidtaking {{fourIndicationsObservationSomEndres.activity.sekunderBrukt <= 0 ? 'ikke' : ''}} utført</i>
                  </div>
                  <div class="col-1">
                    <div class="custom-control custom-radio pb-2">
                      <input type="radio" id="riktigBruk" name="riktigBruk" class="custom-control-input" [value]="true" [(ngModel)]="fourIndicationsObservationSomEndres.activity.benyttetHanske">
                      <label class="custom-control-label" for="riktigBruk">Ja</label>
                    </div>
                    <div class="custom-control custom-radio pb-2">
                      <input type="radio" id="feilBruk" name="feilBruk" class="custom-control-input" [value]="false" [(ngModel)]="fourIndicationsObservationSomEndres.activity.benyttetHanske">
                      <label class="custom-control-label" for="feilBruk">Nei</label>
                    </div>
                    <div class="custom-control custom-radio pb-2">
                      <input type="radio" id="ikkeRegistrert" name="ikkeRegistrert" class="custom-control-input" [value]="null" [(ngModel)]="fourIndicationsObservationSomEndres.activity.benyttetHanske">
                      <label class="custom-control-label" for="ikkeRegistrert">Ikke registrert</label>
                    </div>
                  </div>
                  <div class="col-2">
                    {{fourIndicationsObservationSomEndres.registrerttidspunkt | date:'dd.MM.yyyy HH:mm' }}
                  </div>
                  <div class="col-2">
                    <textarea style="width: 12rem;" [(ngModel)]="fourIndicationsObservationSomEndres.kommentar" (ngModelChange)="endretKommentar($event)">{{fourIndicationsObservationSomEndres.kommentar}}</textarea>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col mt-3">
                    <app-bekreftelsesdialog 
                                          [knappTekst]="'Lagre'"
                                          [buttonClass]="'btn fhi-btn-primary me-3'"
                                          (bekreftetEvent)="updateFourIndicationsObservation()"
                                          [dialogmelding]="'Er du sikker på at du vil lagre endringer på observation med id ' + observation.id + '?'">
                    </app-bekreftelsesdialog>
                    <app-bekreftelsesdialog 
                                          [knappTekst]="'Slett'"
                                          [buttonClass]="'btn fhi-btn-secondary me-3'"
                                          (bekreftetEvent)="deleteFourIndicationsObservation()" 
                                          [dialogmelding]='"Vil du slette observation med id: " + observation.id + "?"'>
                    </app-bekreftelsesdialog>
                    <button class="btn fhi-btn-primary bg-dark me-3"
                            (click)="avbrytRedigeringAvObservasjon($event)">
                      Avbryt
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>


