<div class="container mb-3">
  <app-navigasjonslenke (lenkeKlikket)="navigerTilObservasjonerForInstitusjoner()">Tilbake til oversikt</app-navigasjonslenke>
</div>

<div class="container" *ngIf="avdeling">
  <div class="row mb-3">
    <div class="col">
      <h4>Department: {{avdeling.name}}</h4>
      <p>
        <span *ngIf="fromDate">Fra date: {{visFormatedDato(fromDate)}}</span> <br />
        <span *ngIf="toDate">Til date: {{visFormatedDato(toDate)}}</span>
      </p>
    </div>
  </div>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<div class="container mt-5" *ngIf="!loading && !session.length">
  <div class="row">
    <div class="col text-center">
      Ingen sesjoner av valgt type funnet på denne avdelingen
    </div>
  </div>
</div>

<div class="container" *ngIf="session.length">

  <div class="row mb-2">
    <div class="col">
      <h5>Sessions</h5>
    </div>
  </div>

  <app-overview-sessions-view [session]="sesjoner"
                                 (observationUpdatedEvent)="getSessionsForDepartment()"
                                 (observationDeletedEvent)="getSessionsForDepartment()">
  </app-overview-sessions-view>

</div>
