<div>
  <div class="row">
    <div class="col">
      <h5>Aktivitettyper</h5>
    </div>
  </div>
  <div class="col-12 m-3">     
      <ng-container>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Kode</th>
                <th>Navn</th>
                <th class="text-end" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let activityType of activityTypes">
                
                <ng-container *ngIf="activitytypeAsChanged?.id !== activityType.id">
                  <td>{{activityType.code}}</td>
                  <td>{{activityType.name}}</td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" (click)="valgtAktivitettype(activityType)">
                      <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                    </button>
                  </td>
                </ng-container>
                <ng-container *ngIf="activitytypeAsChanged?.id === activityType.id">
                  <td>{{activitytypeAsChanged.code}}</td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="activitytypeAsChanged.name">
                  </td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" (click)="lagreAktivitettype(activitytypeAsChanged)">
                      <i class="icon-pencil"></i><span class="btn__text">Save</span>
                    </button>
                    <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                      <i class="icon-x"></i><span class="btn__text">Cancel</span>
                    </button>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>  
</div>
<div class="row">
  <app-spinner class="col-12" *ngIf="activityTypes?.length == 0">Laster activityTypes</app-spinner>
</div>
