<div class="container">
  <div class="row" *ngIf="!loading">
    <div class="col-4">
      <h5>Healthcare Enterprise</h5>
      <input type="text" class="form-control" [(ngModel)]="newHealthcareEnterprise.name" name="name" placeholder="Name">
    </div>
    <div class="col-4">
      <h5>Regional HealthcareEnterprise</h5>
      <select class="form-select" [(ngModel)]="newHealthcareEnterprise.regionalHealthcareEnterpriseId">
        <option value="0">Not selected</option>
        <option *ngFor="let regionalHealthcareEnterprise of regionalHealthcareEnterpriseList" [ngValue]="regionalHealthcareEnterprise.id">{{regionalHealthcareEnterprise.name}}</option>
      </select>
    </div>
    <div class="col-4">
      <button class="btn fhi-btn-primary mt-5" (click)="createHealthcareEnterprise()" [disabled]="newHealthcareEnterprise.name.trim().length < 1">Create</button>
    </div>
    <div class="col-12 m-3">
      <label *ngIf="!listOfHealthcareEnterpises">None found HealthcareEnterprise</label>
      
      <ng-container>
        <div class="table-responsive">
          <table class="table" sortable-table (sorted)="sort($event)" >
            <thead>
              <tr>
                <th sortable-column="Name"></th>
                <th sortable-column="Regional healthcareEnterprise"></th>
                <th class="text-end" scope="col">Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let healthcareEnterprise of listOfHealthcareEnterpises">
               
                <ng-container *ngIf="healthcareEnterpriseAsChanged?.id != healthcareEnterprise.id">
                  <td>{{healthcareEnterprise.name}}</td>
                  <td>{{healthcareEnterprise.regionalHealthcareEnterprise?.name}}</td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" (click)="selectedHealthcareEnterpriseAsChanged(healthcareEnterprise)">
                      <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                    </button>
                  </td>
                   
                </ng-container>

                <ng-container *ngIf="healthcareEnterpriseAsChanged?.id == healthcareEnterprise.id">
                  <td class="col-4"><input type="text" class="form-control" [(ngModel)]="healthcareEnterpriseAsChanged.name" name="name" placeholder="Name"></td>
                  <td class="col-4">
                    <select class="form-select" [(ngModel)]="healthcareEnterpriseAsChanged.regionalHealthcareEnterpriseId">
                      <option value="0">Not selected</option>
                      <option *ngFor="let regionalHealthcareEnterprise of regionalHealthcareEnterpriseList" [ngValue]="regionalHealthcareEnterprise.id">{{regionalHealthcareEnterprise.name}}</option>
                    </select>
                  </td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" (click)="updateHealthcareEnterprise(healthcareEnterpriseAsChanged)">
                      <i class="icon-pencil"></i><span class="btn__text">Save</span>
                    </button>
                    <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                      <i class="icon-x"></i><span class="btn__text">Cancel</span>
                    </button>
                  </td>
                </ng-container>
              </tr>
            </tbody>

          </table>
        </div>
      </ng-container>   
    </div>
   </div>
   <div class="row" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div> 