<div class="container">
  <div class="row" *ngIf="!loading">
    <div class="col-4">
      <h5>HealthCare Organization</h5>
      <input type="text" autocomplete="off" class="form-control" (keypress)="omitSpecialChar($event)" [(ngModel)]="newHealthcareOrganization.name" name="name" placeholder="Name">
    </div>
    <div class="col-4">
      <h5>Regional HealthCare Organization</h5>
        <ng-select
          [searchable]="false"
          [clearable]="false"
          [items]="RegionalHealthcareOrganizationList"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="newHealthcareOrganization.regionalHealthcareOrganizationId"
          >
        </ng-select>
    </div>
    <div class="col-4">
      <button class="btn fhi-btn-primary mt-5" (click)="createHealthcareOrganization()" [disabled]="!canCreateHealthcareOrganization()">Create</button>
    </div>
    <div class="col-12 m-3">
      <label *ngIf="!listOfHealthcareOrganizations">No HealthcareOrganization found</label>
      
      <ng-container>
        <div class="table-responsive">
          <table class="table" sortable-table (sorted)="sort($event)" >
            <thead>
              <tr>
                <th sortable-column="Name"></th>
                <th sortable-column="Regional HealthCare Organization"></th>
                <th class="text-end" scope="col">Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let healthcareOrganization of listOfHealthcareOrganizations">
               
                <ng-container *ngIf="healthcareOrganizationAsChanged?.id != healthcareOrganization.id">
                  <td>{{healthcareOrganization.name}}</td>
                  <td>{{healthcareOrganization.regionalHealthcareOrganization?.name}}</td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" (click)="selectedHealthcareOrganizationAsChanged(healthcareOrganization)">
                      <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                    </button>
                  </td>
                   
                </ng-container>

                <ng-container *ngIf="healthcareOrganizationAsChanged?.id == healthcareOrganization.id">
                  <td class="col-4"><input type="text" autocomplete="off" class="form-control" (keypress)="omitSpecialChar($event)" [(ngModel)]="healthcareOrganizationAsChanged.name" name="name" placeholder="Name"></td>
                  <td class="col-4">
                    <ng-select
                      [searchable]="false"
                      [clearable]="false"
                      [items]="RegionalHealthcareOrganizationList"
                      bindLabel="name"
                      bindValue="id"
                      [(ngModel)]="healthcareOrganizationAsChanged.regionalHealthcareOrganizationId"
                      >
                    </ng-select>
                  </td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" [disabled]="!canUpdateHealthcareOrganization()" (click)="updateHealthcareOrganization(healthcareOrganizationAsChanged)">
                      <i class="icon-pencil"></i><span class="btn__text">Save</span>
                    </button>
                    <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                      <i class="icon-x"></i><span class="btn__text">Cancel</span>
                    </button>
                  </td>
                </ng-container>
              </tr>
            </tbody>

          </table>
        </div>
      </ng-container>   
    </div>
   </div>
   <div class="row" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div> 