<div>
  <div class="row ms-1">
    <div class="col">
      <h5>Roles</h5>
    </div>
  </div>
  <div class="row ms-1">
    <div class="col-3">
      <input type="text" autocomplete="off" class="form-control" [(ngModel)]='newRole.name' placeholder="Name">
    </div>
    <div class="col-7">
      <input type="text" autocomplete="off" class="form-control" [(ngModel)]='newRole.description' (ngModelChange)="newRole.description = $event.trim()" placeholder="Description">
    </div>
    <div class="col-2">
      <label></label>
      <button class="form-control btn fhi-btn-primary" (click)="createRole()" [disabled]="!newRole.name">Add to</button>
    </div>
  </div>

  <div class="col-12 m-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th class="text-end" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of roles">
              <ng-container *ngIf="roleAsChanged?.id !== role.id">
                <td>{{role.name}}</td>
                <td>{{role.description}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="selectedRole(role)">
                    <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="roleAsChanged?.id === role.id">
                <td>{{roleAsChanged.name}}</td>
                <td>
                  <input type="text" autocomplete="off" class="form-control" [(ngModel)]="roleAsChanged.description" (ngModelChange)="roleAsChanged.description = $event.trim()">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="updateRole(roleAsChanged)">
                    <i class="icon-pencil"></i><span class="btn__text">Save</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">Cancel</span>
                  </button>
                </td>
              </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
<div class="row">
  <app-spinner class="col-12" *ngIf="roles?.length == 0">Loading roles</app-spinner>
</div>
