<div class="hh-registrer-aktivitet" [ngClass]="{'hh-registrer-aktivitet--registrert':isRegistered}">
  <button [disabled]="disabled"
          type="button"
          class="hh-transparent-button hh-transparent-button--large hh-transparent-button--wide"
          (click)="registerNotExecutedActivity(modal)">

    <fa-icon [icon]="faTimesCircle" class="hh-vertical-stadium-buttons__icon"></fa-icon>
    <span class="hh-registrer-aktivitet__missed-opportunity-text mt-n1" style="line-height: 45%"><small><strong>Not done</strong></small></span>
  </button>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close')">
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <p class="font-weight-bold">Were gloves used??</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" role="group">
      <button type="button" class="btn fhi-btn-secondary" (click)="modal.close('Yes'); registerActivity(true)">Yes</button>
      <button type="button" class="btn fhi-btn-secondary" (click)="modal.close('No'); registerActivity(false)">No</button>
    </div>
  </div>
</ng-template>
