<div class="container">
  <app-observation-counter [sessionsdata]="sessionsdata" [url]="Urls.GloveSessionUrl"></app-observation-counter>
  <h1 class="h3 mt-n4 mt-xl-0">Gloves</h1>
</div>


<div class="container" *ngIf="sessionView.sessionId != null && sessionView.card != null && sessionView.card.length > 0">
  <ng-container *ngFor="let card of sessionView.card">
    <app-glove-observation-card (observationRegister)="registerObservation($event)"
                                 (sessionViewUpdate)="updateSessionView($event)"
                                 (cardIsSelectedEvent)="cardIsSelected($event)"
                                 [card]="card"
                                 [sessionView]="sessionView"
                                 [roleSelected]="roles">
    </app-glove-observation-card>
  </ng-container>
</div>

<app-new-card-info [showEmptyForShortText]="showEmptyForShortText"></app-new-card-info>
<app-new-card-modal [roles]="roles" (onClose)="onCloseNewCardModal($event)" (onDismiss)="onDismissNewShortModal($event)">
</app-new-card-modal>

<app-help-text
  [title]="'Tips and tricks - observe glove use'">
  <p>
    You can now observe the professions you selected on the <b>Start observation</b> page, change professions on the individual card by clicking the drop-down menu, or add new professions by clicking the <b>New card</b> button in the bottom right.
  </p>
  <p>
    If you are going to observe glove use without indication, you must first click on <b>Gloves without indication</b>.
  </p>
  <p>
    When you are finished, you can drag the card to the right to save the observation.
    If you have registered an error, you must press "Clear card" - then the card will reset itself.
    If you want to remove a card from the list, you can drag the card to the left.
  </p>
</app-help-text>
