<div class="container">
  <app-observation-counter [url]="Urls.HandHygieneSessionUrl" [sessionsdata]="sessionsdata"></app-observation-counter>
  <h1 class="h3 mt-n4 mt-xl-0">{{"Hand hygiene" | translate}}</h1>
</div>

<div class="container" *ngIf="sessionView.sessionId != null && sessionView.card != null && sessionView.card.length > 0">
  <ng-container *ngFor="let card of sessionView.card">
    <app-hand-hygiene-observation-card (observationRegister)="registerObservation($event)"
                                            (sessionViewUpdate)="updateSessionView($event)"
                                            (cardIsSelectedEvent)="cardIsSelected($event)"
                                            [card]="card"
                                            [sessionView]="sessionView"
                                            [roleSelected]="sessionView.department.roles">
    </app-hand-hygiene-observation-card>
  </ng-container>
</div>

<app-new-card-info [showEmptyForShortText]="showEmptyForShortText"></app-new-card-info>
<app-new-card-modal [roles]="roles" (onClose)="onCloseNewCardModal($event)" (onDismiss)="onDismissNewShortModal($event)">
</app-new-card-modal>

<app-help-text
  [title]="'Tips and tricks - observe Hand hygiene'">
  <p>
    {{"You record indications and activities by clicking on the icons in the card." | translate}}
  </p>
  <ol>
    <li>{{"At least 1 indication" | translate}}</li>
    <li><i>{{"Only" | translate}}</i> {{"1 activity" | translate}}</li>
  </ol>
  <p>
  {{"When you are finished, you can drag the card to the right to save the observation." | translate}}
  {{"If you have registered an error, you must press 'Clear card' - then the card will reset itself." | translate}}
  {{"If you want to remove a card from the list, you can drag the card to the left." | translate}}
  </p>
</app-help-text>
