<div>
  <div class="row ms-1">
    <div class="col">
      <h5>Institution types</h5>
    </div>
  </div>
  <div class="row ms-1">
    <div class="col-3">
      <input type="text" autocomplete="off" class="form-control" [(ngModel)]='newInstitutionType.code' placeholder="Code">
    </div>
    <div class="col-3">
      <input type="text" autocomplete="off" class="form-control" [(ngModel)]='newInstitutionType.name' placeholder="Name">
    </div>
    <div class="col-6">
      <label></label>
      <button class="form-control btn fhi-btn-primary" (click)="createInstitutionType()" [disabled]="!newInstitutionType.code || !newInstitutionType.name">Add to</button>
    </div>
  </div>

  <div class="col-12 m-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th class="text-end" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let institutiontype of institutionTypes">
              <ng-container *ngIf="institutiontypeAsChanged?.id !== institutiontype.id">
                <td>{{institutiontype.code}}</td>
                <td>{{institutiontype.name}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="selectedInstitutiontype(institutiontype)">
                    <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="institutiontypeAsChanged?.id === institutiontype.id">
                <td>{{institutiontypeAsChanged.code}}</td>
                <td>
                  <input type="text" autocomplete="off" class="form-control" [(ngModel)]="institutiontypeAsChanged.name">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="updateInstitutionType(institutiontypeAsChanged)">
                    <i class="icon-pencil"></i><span class="btn__text">Save</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">Cancel</span>
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
<div class="row">
  <app-spinner class="col-12" *ngIf="institutionTypes?.length == 0">Loading institutionTypes</app-spinner>
</div>
