<div>
  <div class="row">
    <div class="col">
      <h5>BeskyttelsesutstyrsettingTyper</h5>
    </div>
  </div>

  <div class="col-12 m-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Kode</th>
              <th>Navn</th>
              <th class="text-end" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let settingType of beskyttelsesutstyrsettingTyper">
              <ng-container *ngIf="settingTypeSomEndres?.id !== settingType.id">
                <td>{{settingType.code}}</td>
                <td>{{settingType.name}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="valgtSettingType(settingType)">
                    <i class="icon-pencil"></i><span class="btn__text">Edit</span>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="settingTypeSomEndres?.id === settingType.id">
                <td>{{settingTypeSomEndres.code}}</td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="settingTypeSomEndres.name">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="oppdaterSettingType(settingTypeSomEndres)">
                    <i class="icon-pencil"></i><span class="btn__text">Save</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="cancelEdit($event)">
                    <i class="icon-x"></i><span class="btn__text">Cancel</span>
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
<div class="row">
  <app-spinner class="col-12" *ngIf="beskyttelsesutstyrsettingTyper?.length == 0">Laster beskyttelsesutstyrsettingtyper</app-spinner>
</div>
