<div class="container">
  <div class="row">
    <div class="row align-items-end mb-4" *ngIf="canSelectInstitution">

      <div class="col-md-4">
        <label for="institutionsTypes">Institution Types</label>
          <ng-multiselect-dropdown [placeholder]="'Select'"
                                        [settings]="dropdownSettings"
                                        [data]="institutionTypes"
                                        [(ngModel)]="selectedInstitutionTypes">
              </ng-multiselect-dropdown>
      </div>   
      <div class="col-md-4">
        <label for="institutions">Institutions</label>
          <ng-select
            [items]="institutions"
            bindLabel="name"
            [multiple]="true"
            [(ngModel)]="selectedInstitutions"
            placeholder="Select institutions"
            (blur)="selectInstitution()">
          </ng-select>
    </div>           
</div>
<div class = "row">
      <div class="col-md-2">
        <label for="interval">Interval</label>
        <select class="form-select" id="interval" [(ngModel)]="interval">
          <option value="year">Year</option>
          <option value="quarter">Quarter</option>
          <option value="month">Month</option>
        </select>
      </div>

      <div class="col-md-2" *ngIf="interval=='quarter'">
        <label for="from">From quarter</label>
        <select class="form-select" id="quarter" [(ngModel)]="fromQuarter">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>

      <div class="col-md-2" *ngIf="interval=='quarter'">
        <label for="to">To quarter</label>
        <select class="form-select" id="quarter" [(ngModel)]="toQuarter">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <!-- <div class="col-md-2" *ngIf="interval=='week'">
        <label for="fra">From month</label>
        <select class="form-select" id="month" [(ngModel)]="fromMonth">
          <option *ngFor="let month of months" [ngValue]="month.value">{{month.description}}</option>
        </select>
      </div> -->

      <div class="col-md-2">
        <label for="fra">From year</label>
        <input class="form-control" id="fromYear" type="number" [(ngModel)]="fromYear" />
      </div>

      <!-- <div class="col-md-2" *ngIf="interval=='week'">
        <label for="fra">To month</label>
        <select class="form-select" id="month" [(ngModel)]="toMonth">
          <option *ngFor="let month of months" [ngValue]="month.value">{{month.description}}</option>
        </select>
      </div> -->

      <div class="col-md-2">
        <label for="til">To year</label>
        <input class="form-control" id="toYear" type="number" [(ngModel)]="toYear" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row align-items-end mb-4">

      <div class="col-md-2">
        <label for="role">Role</label>
        <ng-multiselect-dropdown [placeholder]="'Select'"
                                    [settings]="dropdownSettings"
                                    [data]="roles"
                                    [(ngModel)]="selectedRoles">
            </ng-multiselect-dropdown>
      </div>

      <div class="col-md-2">
        <label for="department">Department</label>
            <ng-multiselect-dropdown [placeholder]="'Select'"
                                    [settings]="dropdownSettings"
                                    [data]="departments"
                                    [(ngModel)]="selectedDepartments">
            </ng-multiselect-dropdown>
      </div>

      <div class="col-md-2" >
        <label for="departmentType">Department type</label>
          <ng-multiselect-dropdown [placeholder]="'Select'"
                                    [settings]="dropdownSettings"
                                    [data]="departmentTypes"
                                    [(ngModel)]="selectedDepartmentTypes">
          </ng-multiselect-dropdown>
      </div>

      <div class="form-group col-12 col-md-3">
        <label style="opacity:0;">-</label>
        <br />
        <button class="btn btn-sm fhi-btn-primary me-2" (click)="getComplianceForFiveIndications()">Show graph</button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="showGraph">
    <div class="col-8">
      <fhi-angular-highcharts [diagramOptions]="percentageDiagramOptions"></fhi-angular-highcharts>
    </div>
  </div>

  <div class="row" *ngIf="showGraph">
    <div class="col-8">
      <fhi-angular-highcharts [diagramOptions]="numberDiagramOptions"></fhi-angular-highcharts>
    </div>
  </div>

  <div class="row showGraphErrorStyle" *ngIf="showGraphError">
    <p>
      The chart type cannot be displayed with this filter selection. Choose a different chart type or modify the filter selection.
    </p>
  </div>
</div>
